In [6]:
# Carica il file csv e coonverto colonna dei prezzi in int
import pandas as pd
import re
import itertools
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import gaussian_kde
import seaborn as sns
%matplotlib qt
from matplotlib.patches import Patch


df=pd.read_csv("milano_dati_booking.csv")
df['prezzo']= df['prezzo'].str.replace(".","")
df['prezzo'] = df['prezzo'].apply(lambda x: int(re.search(r'\d+', x).group()))
df['prezzo_iniziale']= df['prezzo_iniziale'].str.replace(".","")
df['prezzo_iniziale'] = df['prezzo_iniziale'].apply(lambda x: int(re.search(r'\d+', x).group()))

In [7]:
# Crea delle colonne con valori True/False in base alle offerte
df['booking_paga'] = df['offerte'].str.contains('Booking.com paga')
df['offerta_tempo_limitato'] = df['offerte'].str.contains('tempo limitato')
df['offerta_solo_mobile'] = df['offerte'].str.contains('mobile')
df['offerta_super_segreta'] = df['offerte'].str.contains('SuperSegreta')
df['offerta_inizio_2024'] = df['offerte'].str.contains('Offerta Inizio 2024')
# Inserisce False nei campi nulli
df[['booking_paga','offerta_tempo_limitato','offerta_solo_mobile','offerta_super_segreta','offerta_inizio_2024']] = df[['booking_paga','offerta_tempo_limitato','offerta_solo_mobile','offerta_super_segreta','offerta_inizio_2024']].fillna(False)

In [3]:
#Prendo tutte le combinazioni di coppie di ricerche sulla stessa citt√†
df_list = df['TIMESTAMP'].unique()
coppie_df = list(itertools.combinations(df_list, 2))
len(coppie_df)

276

In [5]:
# Creo un Dataframe per vedere differenze di prezzo tra diverse ricerche
list_dict_df = []
for i in coppie_df:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    #merged_solo_nome = pd.merge(df1,df2, on='nome_hotel')
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data','prezzo_iniziale'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data','prezzo_iniziale'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    # Elimino hotel con stesso nome 
    merged_df = merged_df.drop_duplicates(subset="nome_hotel",keep= False)
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"]).abs()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe_1"
    else: prezzi_inferiori = "Dataframe_2"
    try: 
        xor_booking_paga = len(merged_df[(merged_df['booking_paga_x']) ^ (merged_df['booking_paga_y'])])
    except:
        xor_booking_paga = None
    try: 
        xor_offerta_solo_mobile = len(merged_df[(merged_df['offerta_solo_mobile_x']) ^ (merged_df['offerta_solo_mobile_y'])])
    except:
        xor_offerta_solo_mobile = None
    
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df['totale_corrispondenze'] = initial_len
    dict_df ['num_differenze_prezzo'] = len(merged_df)
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len*100
    #dict_df['hotel_scartati'] = len(merged_solo_nome) - initial_len
    dict_df['xor_booking_paga'] = xor_booking_paga
    dict_df['xor_offerta_solo_mobile'] = xor_offerta_solo_mobile
    dict_df['tipo_ricerche'] = df1['user_agent_type'].unique()[0] + "/"+ df2['user_agent_type'].unique()[0]
    dict_df['os'] = df1['os'].unique()[0] + "/"+ df2['os'].unique()[0]
    dict_df['username'] = df1['username'].unique()[0] + "/"+ df2['username'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    list_dict_df.append(dict_df)

df_diff_prezzo = pd.DataFrame(list_dict_df)   
pd.set_option('display.max_rows', None)
df_diff_prezzo.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,totale_corrispondenze,num_differenze_prezzo,media,mediana,%_prezzi_diversi,xor_booking_paga,xor_offerta_solo_mobile,tipo_ricerche,os,username,prezzi_inferiori
231,03-07-2024---15:20 *** 03-07-2024---15:32,954,937,0.0,0.0,98.218029,0,0,desktop/desktop,Linux/MacOS,pantilaura56/pantilaura56,Dataframe_2
48,03-07-2024---12:34 *** 03-07-2024---13:25,937,934,0.0,0.0,99.679829,41,0,desktop/desktop,Linux/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
274,03-07-2024---17:21 *** 03-07-2024---17:51,928,926,0.0,0.0,99.784483,35,0,desktop/desktop,Windows/MacOS,marcofantile/marcofantile,Dataframe_2
156,03-07-2024---14:00 *** 03-07-2024---14:20,942,922,0.0,0.0,97.876858,23,0,mobile/mobile,Android/Android,pantilaura56/pantilaura56,Dataframe_2
126,03-07-2024---13:25 *** 03-07-2024---14:38,922,919,0.0,0.0,99.674620,39,0,desktop/desktop,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
23,03-07-2024---12:08 *** 03-07-2024---12:34,919,915,0.0,0.0,99.564744,38,0,desktop/desktop,Windows/Linux,sunnytraveler/sunnytraveler,Dataframe_2
123,03-07-2024---13:25 *** 03-07-2024---13:40,960,915,0.0,0.0,95.312500,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
130,03-07-2024---13:25 *** 03-07-2024---15:20,929,912,0.0,0.0,98.170075,41,0,desktop/desktop,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
202,03-07-2024---14:49 *** 03-07-2024---15:43,912,912,0.0,0.0,100.000000,0,0,desktop/desktop,Windows/MacOS,pantilaura56/pantilaura56,Dataframe_2
131,03-07-2024---13:25 *** 03-07-2024---15:32,911,908,0.0,0.0,99.670692,42,0,desktop/desktop,MacOS/MacOS,sunnytraveler/pantilaura56,Dataframe_2
222,03-07-2024---15:08 *** 03-07-2024---15:32,908,906,0.0,0.0,99.779736,0,0,desktop/desktop,Linux/MacOS,pantilaura56/pantilaura56,Dataframe_2
211,03-07-2024---14:59 *** 03-07-2024---15:20,971,904,0.0,0.0,93.099897,0,0,desktop/desktop,Linux/Linux,marcofantile/pantilaura56,Dataframe_2
221,03-07-2024---15:08 *** 03-07-2024---15:20,918,902,0.0,0.0,98.257081,0,0,desktop/desktop,Linux/Linux,pantilaura56/pantilaura56,Dataframe_2
212,03-07-2024---14:59 *** 03-07-2024---15:32,951,901,0.0,0.0,94.742376,0,0,desktop/desktop,Linux/MacOS,marcofantile/pantilaura56,Dataframe_2
250,03-07-2024---15:43 *** 03-07-2024---16:51,926,900,0.0,0.0,97.192225,10,0,desktop/desktop,MacOS/MacOS,pantilaura56/marcofantile,Dataframe_2
105,03-07-2024---13:14 *** 03-07-2024---13:25,902,897,0.0,0.0,99.445676,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
188,03-07-2024---14:38 *** 03-07-2024---15:20,915,897,0.0,0.0,98.032787,0,0,desktop/desktop,Windows/Linux,pantilaura56/pantilaura56,Dataframe_2
189,03-07-2024---14:38 *** 03-07-2024---15:32,898,896,0.0,0.0,99.777283,0,0,desktop/desktop,Windows/MacOS,pantilaura56/pantilaura56,Dataframe_2
223,03-07-2024---15:08 *** 03-07-2024---15:43,894,893,0.0,0.0,99.888143,0,0,desktop/desktop,Linux/MacOS,pantilaura56/pantilaura56,Dataframe_2
27,03-07-2024---12:08 *** 03-07-2024---13:25,898,891,0.0,0.0,99.220490,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
144,03-07-2024---13:40 *** 03-07-2024---14:59,937,891,0.0,0.0,95.090715,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_2
56,03-07-2024---12:34 *** 03-07-2024---15:20,906,890,0.0,0.0,98.233996,0,0,desktop/desktop,Linux/Linux,sunnytraveler/pantilaura56,Dataframe_2
128,03-07-2024---13:25 *** 03-07-2024---14:59,940,889,0.0,0.0,94.574468,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_2
232,03-07-2024---15:20 *** 03-07-2024---15:43,903,889,0.0,0.0,98.449612,0,0,desktop/desktop,Linux/MacOS,pantilaura56/pantilaura56,Dataframe_2
240,03-07-2024---15:32 *** 03-07-2024---15:43,891,889,0.0,0.0,99.775533,0,0,desktop/desktop,MacOS/MacOS,pantilaura56/pantilaura56,Dataframe_2
52,03-07-2024---12:34 *** 03-07-2024---14:38,888,888,0.0,0.0,100.000000,0,0,desktop/desktop,Linux/Windows,sunnytraveler/pantilaura56,Dataframe_2
49,03-07-2024---12:34 *** 03-07-2024---13:40,926,887,0.0,0.0,95.788337,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
213,03-07-2024---14:59 *** 03-07-2024---15:43,904,887,0.0,0.0,98.119469,0,0,desktop/desktop,Linux/MacOS,marcofantile/pantilaura56,Dataframe_2
186,03-07-2024---14:38 *** 03-07-2024---14:59,930,885,0.0,0.0,95.161290,0,0,desktop/desktop,Windows/Linux,pantilaura56/marcofantile,Dataframe_2
110,03-07-2024---13:14 *** 03-07-2024---14:49,886,884,0.0,0.0,99.774266,8,0,desktop/desktop,Linux/Windows,sunnytraveler/pantilaura56,Dataframe_2
142,03-07-2024---13:40 *** 03-07-2024---14:38,920,883,0.0,0.0,95.978261,0,0,desktop/desktop,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
129,03-07-2024---13:25 *** 03-07-2024---15:08,885,882,0.0,0.0,99.661017,40,0,desktop/desktop,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
57,03-07-2024---12:34 *** 03-07-2024---15:32,883,881,0.0,0.0,99.773499,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/pantilaura56,Dataframe_2
210,03-07-2024---14:59 *** 03-07-2024---15:08,927,881,0.0,0.0,95.037756,0,0,desktop/desktop,Linux/Linux,marcofantile/pantilaura56,Dataframe_2
187,03-07-2024---14:38 *** 03-07-2024---15:08,880,880,0.0,0.0,100.000000,0,0,desktop/desktop,Windows/Linux,pantilaura56/pantilaura56,Dataframe_2
47,03-07-2024---12:34 *** 03-07-2024---13:14,877,875,0.0,0.0,99.771950,8,0,desktop/desktop,Linux/Linux,sunnytraveler/sunnytraveler,Dataframe_2
79,03-07-2024---12:46 *** 03-07-2024---15:55,912,874,0.0,0.0,95.833333,0,0,mobile/mobile,Android/Android,sunnytraveler/marcofantile,Dataframe_2
106,03-07-2024---13:14 *** 03-07-2024---13:40,885,874,0.0,0.0,98.757062,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
198,03-07-2024---14:49 *** 03-07-2024---14:59,888,873,0.0,0.0,98.310811,0,0,desktop/desktop,Windows/Linux,pantilaura56/marcofantile,Dataframe_2
272,03-07-2024---17:03 *** 03-07-2024---17:51,874,872,0.0,0.0,99.771167,34,0,desktop/desktop,Windows/MacOS,marcofantile/marcofantile,Dataframe_2
127,03-07-2024---13:25 *** 03-07-2024---14:49,874,871,0.0,0.0,99.656751,9,0,desktop/desktop,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
199,03-07-2024---14:49 *** 03-07-2024---15:08,871,871,0.0,0.0,100.000000,0,0,desktop/desktop,Windows/Linux,pantilaura56/pantilaura56,Dataframe_2
146,03-07-2024---13:40 *** 03-07-2024---15:20,926,870,0.0,0.0,93.952484,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
26,03-07-2024---12:08 *** 03-07-2024---13:14,875,869,0.0,0.0,99.314286,0,0,desktop/desktop,Windows/Linux,sunnytraveler/sunnytraveler,Dataframe_2
270,03-07-2024---17:03 *** 03-07-2024---17:21,873,869,0.0,0.0,99.541810,0,0,desktop/desktop,Windows/Windows,marcofantile/marcofantile,Dataframe_2
55,03-07-2024---12:34 *** 03-07-2024---15:08,868,868,0.0,0.0,100.000000,0,0,desktop/desktop,Linux/Linux,sunnytraveler/pantilaura56,Dataframe_2
147,03-07-2024---13:40 *** 03-07-2024---15:32,910,868,0.0,0.0,95.384615,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/pantilaura56,Dataframe_2
205,03-07-2024---14:49 *** 03-07-2024---16:51,891,868,0.0,0.0,97.418631,9,0,desktop/desktop,Windows/MacOS,pantilaura56/marcofantile,Dataframe_2
115,03-07-2024---13:14 *** 03-07-2024---15:43,870,867,0.0,0.0,99.655172,9,0,desktop/desktop,Linux/MacOS,sunnytraveler/pantilaura56,Dataframe_2
54,03-07-2024---12:34 *** 03-07-2024---14:59,912,866,0.0,0.0,94.956140,0,0,desktop/desktop,Linux/Linux,sunnytraveler/marcofantile,Dataframe_2
185,03-07-2024---14:38 *** 03-07-2024---14:49,860,860,0.0,0.0,100.000000,0,0,desktop/desktop,Windows/Windows,pantilaura56/pantilaura56,Dataframe_2
31,03-07-2024---12:08 *** 03-07-2024---14:38,863,859,0.0,0.0,99.536501,36,0,desktop/desktop,Windows/Windows,sunnytraveler/pantilaura56,Dataframe_2
143,03-07-2024---13:40 *** 03-07-2024---14:49,868,859,0.0,0.0,98.963134,0,0,desktop/desktop,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
200,03-07-2024---14:49 *** 03-07-2024---15:20,872,858,0.0,0.0,98.394495,0,0,desktop/desktop,Windows/Linux,pantilaura56/pantilaura56,Dataframe_2
132,03-07-2024---13:25 *** 03-07-2024---15:43,860,856,0.0,0.0,99.534884,10,0,desktop/desktop,MacOS/MacOS,sunnytraveler/pantilaura56,Dataframe_2
34,03-07-2024---12:08 *** 03-07-2024---15:08,859,855,0.0,0.0,99.534342,35,0,desktop/desktop,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_2
111,03-07-2024---13:14 *** 03-07-2024---14:59,867,853,0.0,0.0,98.385236,0,0,desktop/desktop,Linux/Linux,sunnytraveler/marcofantile,Dataframe_2
190,03-07-2024---14:38 *** 03-07-2024---15:43,854,853,0.0,0.0,99.882904,0,0,desktop/desktop,Windows/MacOS,pantilaura56/pantilaura56,Dataframe_2
35,03-07-2024---12:08 *** 03-07-2024---15:20,872,852,0.0,0.0,97.706422,36,0,desktop/desktop,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_2
201,03-07-2024---14:49 *** 03-07-2024---15:32,853,852,0.0,0.0,99.882767,0,0,desktop/desktop,Windows/MacOS,pantilaura56/pantilaura56,Dataframe_2
148,03-07-2024---13:40 *** 03-07-2024---15:43,862,851,0.0,0.0,98.723898,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/pantilaura56,Dataframe_2
112,03-07-2024---13:14 *** 03-07-2024---15:08,850,848,0.0,0.0,99.764706,9,0,desktop/desktop,Linux/Linux,sunnytraveler/pantilaura56,Dataframe_2
145,03-07-2024---13:40 *** 03-07-2024---15:08,887,848,0.0,0.0,95.603157,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
36,03-07-2024---12:08 *** 03-07-2024---15:32,853,847,0.0,0.0,99.296600,37,0,desktop/desktop,Windows/MacOS,sunnytraveler/pantilaura56,Dataframe_2
28,03-07-2024---12:08 *** 03-07-2024---13:40,887,846,0.0,0.0,95.377678,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
53,03-07-2024---12:34 *** 03-07-2024---14:49,846,846,0.0,0.0,100.000000,0,0,desktop/desktop,Linux/Windows,sunnytraveler/pantilaura56,Dataframe_2
109,03-07-2024---13:14 *** 03-07-2024---14:38,848,846,0.0,0.0,99.764151,9,0,desktop/desktop,Linux/Windows,sunnytraveler/pantilaura56,Dataframe_2
37,03-07-2024---12:08 *** 03-07-2024---15:43,849,845,0.0,0.0,99.528857,10,0,desktop/desktop,Windows/MacOS,sunnytraveler/pantilaura56,Dataframe_2
113,03-07-2024---13:14 *** 03-07-2024---15:20,862,845,0.0,0.0,98.027842,8,0,desktop/desktop,Linux/Linux,sunnytraveler/pantilaura56,Dataframe_2
58,03-07-2024---12:34 *** 03-07-2024---15:43,841,840,0.0,0.0,99.881094,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/pantilaura56,Dataframe_2
32,03-07-2024---12:08 *** 03-07-2024---14:49,843,839,0.0,0.0,99.525504,9,0,desktop/desktop,Windows/Windows,sunnytraveler/pantilaura56,Dataframe_2
235,03-07-2024---15:20 *** 03-07-2024---16:51,871,839,0.0,0.0,96.326062,9,0,desktop/desktop,Linux/MacOS,pantilaura56/marcofantile,Dataframe_2
114,03-07-2024---13:14 *** 03-07-2024---15:32,841,838,0.0,0.0,99.643282,9,0,desktop/desktop,Linux/MacOS,sunnytraveler/pantilaura56,Dataframe_2
226,03-07-2024---15:08 *** 03-07-2024---16:51,859,836,0.0,0.0,97.322468,10,0,desktop/desktop,Linux/MacOS,pantilaura56/marcofantile,Dataframe_2
243,03-07-2024---15:32 *** 03-07-2024---16:51,858,835,0.0,0.0,97.319347,10,0,desktop/desktop,MacOS/MacOS,pantilaura56/marcofantile,Dataframe_2
216,03-07-2024---14:59 *** 03-07-2024---16:51,870,833,0.0,0.0,95.747126,0,0,desktop/desktop,Linux/MacOS,marcofantile/marcofantile,Dataframe_2
33,03-07-2024---12:08 *** 03-07-2024---14:59,879,832,0.0,0.0,94.653015,0,0,desktop/desktop,Windows/Linux,sunnytraveler/marcofantile,Dataframe_2
178,03-07-2024---14:20 *** 03-07-2024---15:55,837,825,0.0,0.0,98.566308,24,0,mobile/mobile,Android/Android,pantilaura56/marcofantile,Dataframe_2
118,03-07-2024---13:14 *** 03-07-2024---16:51,846,823,0.0,0.0,97.281324,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/marcofantile,Dataframe_2
164,03-07-2024---14:00 *** 03-07-2024---15:55,826,822,0.0,0.0,99.515738,0,0,mobile/mobile,Android/Android,pantilaura56/marcofantile,Dataframe_2
135,03-07-2024---13:25 *** 03-07-2024---16:51,835,812,0.0,0.0,97.245509,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/marcofantile,Dataframe_2
151,03-07-2024---13:40 *** 03-07-2024---16:51,839,810,0.0,0.0,96.543504,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/marcofantile,Dataframe_2
193,03-07-2024---14:38 *** 03-07-2024---16:51,830,810,0.0,0.0,97.590361,10,0,desktop/desktop,Windows/MacOS,pantilaura56/marcofantile,Dataframe_2
227,03-07-2024---15:08 *** 03-07-2024---17:03,803,801,0.0,0.0,99.750934,0,0,desktop/desktop,Linux/Windows,pantilaura56/marcofantile,Dataframe_2
236,03-07-2024---15:20 *** 03-07-2024---17:03,817,799,0.0,0.0,97.796818,0,0,desktop/desktop,Linux/Windows,pantilaura56/marcofantile,Dataframe_2
251,03-07-2024---15:43 *** 03-07-2024---17:03,802,799,0.0,0.0,99.625935,0,0,desktop/desktop,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
70,03-07-2024---12:46 *** 03-07-2024---14:00,835,797,0.0,0.0,95.449102,0,0,mobile/mobile,Android/Android,sunnytraveler/pantilaura56,Dataframe_2
244,03-07-2024---15:32 *** 03-07-2024---17:03,799,796,0.0,0.0,99.624531,0,0,desktop/desktop,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
61,03-07-2024---12:34 *** 03-07-2024---16:51,812,794,0.0,0.0,97.783251,8,0,desktop/desktop,Linux/MacOS,sunnytraveler/marcofantile,Dataframe_2
40,03-07-2024---12:08 *** 03-07-2024---16:51,813,792,0.0,0.0,97.416974,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/marcofantile,Dataframe_2
71,03-07-2024---12:46 *** 03-07-2024---14:20,833,791,0.0,0.0,94.957983,0,0,mobile/mobile,Android/Android,sunnytraveler/pantilaura56,Dataframe_2
136,03-07-2024---13:25 *** 03-07-2024---17:03,785,780,0.0,0.0,99.363057,35,0,desktop/desktop,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
217,03-07-2024---14:59 *** 03-07-2024---17:03,819,774,0.0,0.0,94.505495,0,0,desktop/desktop,Linux/Windows,marcofantile/marcofantile,Dataframe_2
266,03-07-2024---16:51 *** 03-07-2024---17:03,798,773,0.0,0.0,96.867168,8,0,desktop/desktop,MacOS/Windows,marcofantile/marcofantile,Dataframe_2
206,03-07-2024---14:49 *** 03-07-2024---17:03,774,772,0.0,0.0,99.741602,0,0,desktop/desktop,Windows/Windows,pantilaura56/marcofantile,Dataframe_2
194,03-07-2024---14:38 *** 03-07-2024---17:03,772,770,0.0,0.0,99.740933,0,0,desktop/desktop,Windows/Windows,pantilaura56/marcofantile,Dataframe_2
228,03-07-2024---15:08 *** 03-07-2024---17:21,763,761,0.0,0.0,99.737877,0,0,desktop/desktop,Linux/Windows,pantilaura56/marcofantile,Dataframe_2
62,03-07-2024---12:34 *** 03-07-2024---17:03,762,760,0.0,0.0,99.737533,0,0,desktop/desktop,Linux/Windows,sunnytraveler/marcofantile,Dataframe_2
252,03-07-2024---15:43 *** 03-07-2024---17:21,762,760,0.0,0.0,99.737533,0,0,desktop/desktop,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
230,03-07-2024---15:08 *** 03-07-2024---17:51,759,759,0.0,0.0,100.000000,33,0,desktop/desktop,Linux/MacOS,pantilaura56/marcofantile,Dataframe_2
254,03-07-2024---15:43 *** 03-07-2024---17:51,760,759,0.0,0.0,99.868421,8,0,desktop/desktop,MacOS/MacOS,pantilaura56/marcofantile,Dataframe_2
247,03-07-2024---15:32 *** 03-07-2024---17:51,759,758,0.0,0.0,99.868248,34,0,desktop/desktop,MacOS/MacOS,pantilaura56/marcofantile,Dataframe_2
239,03-07-2024---15:20 *** 03-07-2024---17:51,772,755,0.0,0.0,97.797927,35,0,desktop/desktop,Linux/MacOS,pantilaura56/marcofantile,Dataframe_2
237,03-07-2024---15:20 *** 03-07-2024---17:21,771,754,0.0,0.0,97.795071,0,0,desktop/desktop,Linux/Windows,pantilaura56/marcofantile,Dataframe_2
245,03-07-2024---15:32 *** 03-07-2024---17:21,755,752,0.0,0.0,99.602649,0,0,desktop/desktop,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
41,03-07-2024---12:08 *** 03-07-2024---17:03,756,750,0.0,0.0,99.206349,31,0,desktop/desktop,Windows/Windows,sunnytraveler/marcofantile,Dataframe_2
119,03-07-2024---13:14 *** 03-07-2024---17:03,754,750,0.0,0.0,99.469496,8,0,desktop/desktop,Linux/Windows,sunnytraveler/marcofantile,Dataframe_2
152,03-07-2024---13:40 *** 03-07-2024---17:03,778,742,0.0,0.0,95.372751,0,0,desktop/desktop,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
88,03-07-2024---13:02 *** 03-07-2024---13:40,739,739,0.0,0.0,100.000000,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
220,03-07-2024---14:59 *** 03-07-2024---17:51,779,739,0.0,0.0,94.865212,0,0,desktop/desktop,Linux/MacOS,marcofantile/marcofantile,Dataframe_2
218,03-07-2024---14:59 *** 03-07-2024---17:21,773,738,0.0,0.0,95.472186,0,0,desktop/desktop,Linux/Windows,marcofantile/marcofantile,Dataframe_2
139,03-07-2024---13:25 *** 03-07-2024---17:51,740,737,0.0,0.0,99.594595,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/marcofantile,Dataframe_2
197,03-07-2024---14:38 *** 03-07-2024---17:51,734,734,0.0,0.0,100.000000,29,0,desktop/desktop,Windows/MacOS,pantilaura56/marcofantile,Dataframe_2
209,03-07-2024---14:49 *** 03-07-2024---17:51,734,734,0.0,0.0,100.000000,9,0,desktop/desktop,Windows/MacOS,pantilaura56/marcofantile,Dataframe_2
137,03-07-2024---13:25 *** 03-07-2024---17:21,738,733,0.0,0.0,99.322493,26,0,desktop/desktop,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
207,03-07-2024---14:49 *** 03-07-2024---17:21,735,733,0.0,0.0,99.727891,0,0,desktop/desktop,Windows/Windows,pantilaura56/marcofantile,Dataframe_2
267,03-07-2024---16:51 *** 03-07-2024---17:21,757,733,0.0,0.0,96.829590,8,0,desktop/desktop,MacOS/Windows,marcofantile/marcofantile,Dataframe_2
269,03-07-2024---16:51 *** 03-07-2024---17:51,755,733,0.0,0.0,97.086093,0,0,desktop/desktop,MacOS/MacOS,marcofantile/marcofantile,Dataframe_2
195,03-07-2024---14:38 *** 03-07-2024---17:21,734,732,0.0,0.0,99.727520,0,0,desktop/desktop,Windows/Windows,pantilaura56/marcofantile,Dataframe_2
86,03-07-2024---13:02 *** 03-07-2024---13:14,736,725,0.0,0.0,98.505435,0,0,desktop/desktop,Windows/Linux,sunnytraveler/sunnytraveler,Dataframe_2
63,03-07-2024---12:34 *** 03-07-2024---17:21,721,719,0.0,0.0,99.722607,0,0,desktop/desktop,Linux/Windows,sunnytraveler/marcofantile,Dataframe_2
97,03-07-2024---13:02 *** 03-07-2024---15:43,727,717,0.0,0.0,98.624484,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/pantilaura56,Dataframe_2
25,03-07-2024---12:08 *** 03-07-2024---13:02,754,714,0.0,0.0,94.694960,0,0,desktop/desktop,Windows/Windows,sunnytraveler/sunnytraveler,Dataframe_2
42,03-07-2024---12:08 *** 03-07-2024---17:21,720,714,0.0,0.0,99.166667,22,0,desktop/desktop,Windows/Windows,sunnytraveler/marcofantile,Dataframe_2
65,03-07-2024---12:34 *** 03-07-2024---17:51,714,714,0.0,0.0,100.000000,30,0,desktop/desktop,Linux/MacOS,sunnytraveler/marcofantile,Dataframe_2
92,03-07-2024---13:02 *** 03-07-2024---14:49,722,713,0.0,0.0,98.753463,0,0,desktop/desktop,Windows/Windows,sunnytraveler/pantilaura56,Dataframe_2
153,03-07-2024---13:40 *** 03-07-2024---17:21,739,712,0.0,0.0,96.346414,0,0,desktop/desktop,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
46,03-07-2024---12:34 *** 03-07-2024---13:02,749,709,0.0,0.0,94.659546,0,0,desktop/desktop,Linux/Windows,sunnytraveler/sunnytraveler,Dataframe_2
120,03-07-2024---13:14 *** 03-07-2024---17:21,713,709,0.0,0.0,99.438990,6,0,desktop/desktop,Linux/Windows,sunnytraveler/marcofantile,Dataframe_2
44,03-07-2024---12:08 *** 03-07-2024---17:51,712,708,0.0,0.0,99.438202,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/marcofantile,Dataframe_2
155,03-07-2024---13:40 *** 03-07-2024---17:51,739,708,0.0,0.0,95.805142,0,0,desktop/desktop,MacOS/MacOS,sunnytraveler/marcofantile,Dataframe_2
87,03-07-2024---13:02 *** 03-07-2024---13:25,750,706,0.0,0.0,94.133333,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/sunnytraveler,Dataframe_2
122,03-07-2024---13:14 *** 03-07-2024---17:51,705,703,0.0,0.0,99.716312,0,0,desktop/desktop,Linux/MacOS,sunnytraveler/marcofantile,Dataframe_2
93,03-07-2024---13:02 *** 03-07-2024---14:59,732,689,0.0,0.0,94.125683,0,0,desktop/desktop,Windows/Linux,sunnytraveler/marcofantile,Dataframe_2
94,03-07-2024---13:02 *** 03-07-2024---15:08,724,687,0.0,0.0,94.889503,0,0,desktop/desktop,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_2
100,03-07-2024---13:02 *** 03-07-2024---16:51,709,684,0.0,0.0,96.473907,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/marcofantile,Dataframe_2
96,03-07-2024---13:02 *** 03-07-2024---15:32,721,681,0.0,0.0,94.452150,0,0,desktop/desktop,Windows/MacOS,sunnytraveler/pantilaura56,Dataframe_2

In [5]:
# Trova le ricerche con maggior numero di sconti 
df_differenze_top = df_diff_prezzo[df_diff_prezzo['%_prezzi_diversi']>50]
df_differenze_top['ricerche_piu_presenti'] = df_differenze_top['coppia_ricerche'].str.replace('*** ','')
orari = df_differenze_top['ricerche_piu_presenti'].str.split().explode().value_counts()
orari

C:\Users\aless\AppData\Local\Temp\ipykernel_31412\217838661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_differenze_top['ricerche_piu_presenti'] = df_differenze_top['coppia_ricerche'].str.replace('*** ','')

ricerche_piu_presenti
03-07-2024---17:32    22
03-07-2024---16:09    22
03-07-2024---11:52     2
03-07-2024---14:49     2
03-07-2024---17:21     2
03-07-2024---17:03     2
03-07-2024---16:51     2
03-07-2024---15:55     2
03-07-2024---15:43     2
03-07-2024---15:32     2
03-07-2024---15:20     2
03-07-2024---15:08     2
03-07-2024---14:59     2
03-07-2024---14:38     2
03-07-2024---14:20     2
03-07-2024---14:00     2
03-07-2024---13:40     2
03-07-2024---13:25     2
03-07-2024---13:14     2
03-07-2024---13:02     2
03-07-2024---12:46     2
03-07-2024---12:34     2
03-07-2024---12:08     2
03-07-2024---17:51     2
Name: count, dtype: int64

In [6]:
# Visualizza un grafico in cui mostra la distribuzione delle differenze di prezzo in base alle ricerche
# creo anche 3 zone del grafico in base alle percentuali rilevanti di differenze di prezzo
df_diff_prezzo_presenti = df_diff_prezzo[df_diff_prezzo['%_prezzi_diversi']>0]
zone1 = df_diff_prezzo_presenti[df_diff_prezzo_presenti['%_prezzi_diversi']<20]
zone2 = df_diff_prezzo_presenti[(df_diff_prezzo_presenti['%_prezzi_diversi']<40)&(df_diff_prezzo_presenti['%_prezzi_diversi']>20)]
zone3 = df_diff_prezzo_presenti[df_diff_prezzo_presenti['%_prezzi_diversi']>60]
desk_desk = df_diff_prezzo_presenti[(df_diff_prezzo_presenti['tipo_ricerche']=="mobile/mobile")|(df_diff_prezzo_presenti['tipo_ricerche']=="desktop/desktop")]
desk_mob = df_diff_prezzo_presenti[(df_diff_prezzo_presenti['tipo_ricerche']=="mobile/desktop")|(df_diff_prezzo_presenti['tipo_ricerche']=="desktop/mobile")]
bins = 30
plt.style.use("seaborn-v0_8-dark")
plt.hist(desk_desk['num_differenze_prezzo'],bins = 20 , color='skyblue', alpha=0.7, label='Desktop-Desktop or Mobile-Mobile')
plt.hist(desk_mob['num_differenze_prezzo'], bins = 18 ,color='lightgreen', alpha=0.7, label='Desktop-Mobile')
#plt.hist(zone3['num_differenze_prezzo'], bins = 16 ,color='red', alpha=0.7, label='Ricerche di tutti i tipi')
plt.axvline(df_diff_prezzo_presenti['num_differenze_prezzo'].mean(),color="grey", linewidth="1",label ="Mean",alpha=0.3)
plt.text(35, 10,str(zone1['media'].mean().round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(222, 10,str(zone2['media'].mean().round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(560, 10,str(zone3['media'].mean().round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.legend(fontsize=14)
plt.title('Distribution of research pairs with price differences',fontsize=18)
plt.xlabel('Number of different prices between one search and another',fontsize=14)
#plt.ylabel('Ricerche',fontsize=14)
plt.yticks([])
plt.show()

In [7]:
# divide la zona 3 in base alle due ricerche principali, questo serve perch√® c'√® una grossa differenza tra le  due ricerche
zone3.sort_values(by=['xor_booking_paga','media'],ascending=False)
zone3r1 = zone3[zone3['coppia_ricerche'].str.contains("16:09")]
zone3r2 = zone3[zone3['coppia_ricerche'].str.contains("17:32")]
zone3r2[zone3r2['tipo_ricerche']!="mobile/mobile"]

,coppia_ricerche,totale_corrispondenze,num_differenze_prezzo,media,mediana,%_prezzi_diversi,xor_booking_paga,xor_offerta_solo_mobile,tipo_ricerche,os,username,prezzi_inferiori
21,03-07-2024---11:52 *** 03-07-2024---17:32,405,322,9.791925,9.0,79.506173,0,129,mobile/desktop,Android/Linux,sunnytraveler/marcofantile,Dataframe_2
43,03-07-2024---12:08 *** 03-07-2024---17:32,694,505,11.902970,11.0,72.766571,0,0,desktop/desktop,Windows/Linux,sunnytraveler/marcofantile,Dataframe_2
64,03-07-2024---12:34 *** 03-07-2024---17:32,713,524,11.929389,11.0,73.492286,31,0,desktop/desktop,Linux/Linux,sunnytraveler/marcofantile,Dataframe_2
84,03-07-2024---12:46 *** 03-07-2024---17:32,602,438,9.858447,9.0,72.757475,10,193,mobile/desktop,Android/Linux,sunnytraveler/marcofantile,Dataframe_2
103,03-07-2024---13:02 *** 03-07-2024---17:32,574,406,11.839901,11.0,70.731707,0,0,desktop/desktop,Windows/Linux,sunnytraveler/marcofantile,Dataframe_2
121,03-07-2024---13:14 *** 03-07-2024---17:32,684,500,12.252000,11.0,73.099415,0,0,desktop/desktop,Linux/Linux,sunnytraveler/marcofantile,Dataframe_2
138,03-07-2024---13:25 *** 03-07-2024---17:32,731,535,11.921495,11.0,73.187415,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_2
154,03-07-2024---13:40 *** 03-07-2024---17:32,730,530,12.820755,11.0,72.602740,0,0,desktop/desktop,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_2
169,03-07-2024---14:00 *** 03-07-2024---17:32,634,487,9.554415,9.0,76.813880,0,205,mobile/desktop,Android/Linux,pantilaura56/marcofantile,Dataframe_2
183,03-07-2024---14:20 *** 03-07-2024---17:32,646,495,9.662626,9.0,76.625387,27,215,mobile/desktop,Android/Linux,pantilaura56/marcofantile,Dataframe_2
196,03-07-2024---14:38 *** 03-07-2024---17:32,726,529,11.937618,11.0,72.865014,29,0,desktop/desktop,Windows/Linux,pantilaura56/marcofantile,Dataframe_2
208,03-07-2024---14:49 *** 03-07-2024---17:32,694,499,11.981964,11.0,71.902017,9,0,desktop/desktop,Windows/Linux,pantilaura56/marcofantile,Dataframe_2
219,03-07-2024---14:59 *** 03-07-2024---17:32,767,523,12.229446,11.0,68.187744,0,0,desktop/desktop,Linux/Linux,marcofantile/marcofantile,Dataframe_2
229,03-07-2024---15:08 *** 03-07-2024---17:32,730,530,11.654717,10.0,72.602740,33,0,desktop/desktop,Linux/Linux,pantilaura56/marcofantile,Dataframe_2
238,03-07-2024---15:20 *** 03-07-2024---17:32,769,570,12.292982,11.0,74.122237,35,0,desktop/desktop,Linux/Linux,pantilaura56/marcofantile,Dataframe_2
246,03-07-2024---15:32 *** 03-07-2024---17:32,751,550,11.883636,11.0,73.235686,34,0,desktop/desktop,MacOS/Linux,pantilaura56/marcofantile,Dataframe_2
253,03-07-2024---15:43 *** 03-07-2024---17:32,729,528,11.986742,11.0,72.427984,8,0,desktop/desktop,MacOS/Linux,pantilaura56/marcofantile,Dataframe_2
259,03-07-2024---15:55 *** 03-07-2024---17:32,616,460,9.582609,9.0,74.675325,0,198,mobile/desktop,Android/Linux,marcofantile/marcofantile,Dataframe_2
268,03-07-2024---16:51 *** 03-07-2024---17:32,720,526,13.007605,11.0,73.055556,0,0,desktop/desktop,MacOS/Linux,marcofantile/marcofantile,Dataframe_2
271,03-07-2024---17:03 *** 03-07-2024---17:32,838,611,11.777414,11.0,72.911695,34,0,desktop/desktop,Windows/Linux,marcofantile/marcofantile,Dataframe_2
273,03-07-2024---17:21 *** 03-07-2024---17:32,889,644,11.740683,11.0,72.440945,34,0,desktop/desktop,Windows/Linux,marcofantile/marcofantile,Dataframe_2
275,03-07-2024---17:32 *** 03-07-2024---17:51,900,656,11.592988,11.0,72.888889,0,0,desktop/desktop,Linux/MacOS,marcofantile/marcofantile,Dataframe_1

In [8]:
# Creo grafico a barre per ricerca anomala mobile
# Estraggo dati per grafico a barre dalla ricerca 1
media_diff_prezzo_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['media'].mean()
media_diff_prezzo_desk_mob = zone3r1[zone3r1['tipo_ricerche']!="mobile/mobile"]['media'].mean()

media_num_diff_prezzo_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['xor_booking_paga'].mean()
media_xor_offerta_solo_mobile_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['xor_offerta_solo_mobile'].mean()

media_num_diff_prezzo_desk_mob = zone3r1[zone3r1['tipo_ricerche']!="mobile/mobile"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_desk_mob = zone3r1[zone3r1['tipo_ricerche']!="mobile/mobile"]['xor_booking_paga'].mean()
media_xor_offerta_solo_mobile_desk_mob = zone3r1[zone3r1['tipo_ricerche']!="mobile/mobile"]['xor_offerta_solo_mobile'].mean()

print(media_diff_prezzo_desk_mob)


medie_diff_prezzo = [media_num_diff_prezzo_mob_mob, media_num_diff_prezzo_desk_mob]
medie_xor_booking_paga = [media_xor_booking_paga_mob_mob,media_xor_booking_paga_desk_mob]
medie_xor_mobile = [media_xor_offerta_solo_mobile_mob_mob,media_xor_offerta_solo_mobile_desk_mob]

# Definizione delle etichette delle barre
# Definizione della larghezza delle barre
width = 0.25

# Calcolo delle posizioni delle barre
indexs = np.arange(2)
colors = ['lightblue', 'lightgreen']
# Creazione del grafico a barre
plt.style.use("seaborn-v0_8-dark")
plt.bar(indexs, medie_xor_mobile, width=width,color = colors,edgecolor = "grey")
plt.bar(indexs+width, medie_xor_booking_paga, width=width, color =colors,edgecolor = "grey")
plt.bar(indexs+width*2, medie_diff_prezzo, width=width,color = colors,edgecolor = "grey")

# Aggiunta delle etichette
plt.title('Atypical Mobile Search',fontsize=18)
plt.xticks([])
plt.text(-0.125,-25,"Mobile-Only offer", fontsize = 14)
plt.text(0.145,-25,"Booking Pay", fontsize = 14)
plt.text(0.405,-25,"Num Diff Prices", fontsize = 14)
plt.text(-0.125+1.05,-25,"Mobile-Only Offer", fontsize = 14)
plt.text(0.145+1,-25,"Booking Pay", fontsize = 14)
plt.text(0.405+1,-25,"Num Diff Prices", fontsize = 14)
plt.text(0.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_mob_mob.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_desk_mob.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
#plt.xlabel("Per osservare che offerta 'Booking.com paga' √® responsabile delle differenze di prezzo")
legend_elements = [
    Patch(facecolor=colors[0], edgecolor='black', label='Mobile vs Mobile'),
    Patch(facecolor=colors[1], edgecolor='black', label='Mobile vs Desktop')
    
]
plt.legend(handles=legend_elements, loc='upper left',fontsize=14)

# Visualizzazione del grafico
plt.show()

17.771535451374522

In [9]:
# Creo grafico per ricerca anomala desktop
media_diff_prezzo_mob_mob = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['media'].mean()
media_diff_prezzo_desk_mob = zone3r2[zone3r2['tipo_ricerche']!="desktop/desktop"]['media'].mean()

media_num_diff_prezzo_mob_mob = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_mob_mob = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['xor_booking_paga'].mean()
media_xor_offerta_solo_mobile_mob_mob = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['xor_offerta_solo_mobile'].mean()

media_num_diff_prezzo_desk_mob = zone3r2[zone3r2['tipo_ricerche']!="desktop/desktop"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_desk_mob = zone3r2[zone3r2['tipo_ricerche']!="desktop/desktop"]['xor_booking_paga'].mean()
media_xor_offerta_solo_mobile_desk_mob = zone3r2[zone3r2['tipo_ricerche']!="desktop/desktop"]['xor_offerta_solo_mobile'].mean()

# Creo grafico a barre per ricerca anomala mobile
medie_diff_prezzo = [media_num_diff_prezzo_mob_mob, media_num_diff_prezzo_desk_mob]
medie_xor_booking_paga = [media_xor_booking_paga_mob_mob,media_xor_booking_paga_desk_mob]
medie_xor_mobile = [media_xor_offerta_solo_mobile_mob_mob,media_xor_offerta_solo_mobile_desk_mob]

# Definizione delle etichette delle barre
# Definizione della larghezza delle barre
width = 0.25

# Calcolo delle posizioni delle barre
indexs = np.arange(2)
colors = ['lightblue', 'lightgreen']
# Creazione del grafico a barre
plt.style.use("seaborn-v0_8-dark")
plt.bar(indexs, medie_xor_mobile, width=width,color = colors,edgecolor = "grey")
plt.bar(indexs+width, medie_xor_booking_paga, width=width, color =colors,edgecolor = "grey")
plt.bar(indexs+width*2, medie_diff_prezzo, width=width,color = colors,edgecolor = "grey")

# Aggiunta delle etichette
plt.title('Atypical Desktop Search',fontsize=18)
plt.xticks([])
plt.text(-0.125,-25,"Mobile-Only Offer", fontsize = 14)
plt.text(0.145,-25,"Booking Pay", fontsize = 14)
plt.text(0.405,-25,"Num Diff Prices", fontsize = 14)
plt.text(-0.125+1.05,-25,"Mobile-Only Offer", fontsize = 14)
plt.text(0.145+1,-25,"Booking Pay", fontsize = 14)
plt.text(0.405+1,-25,"Num Diff Prices", fontsize = 14)
plt.text(0.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_mob_mob.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_desk_mob.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
#plt.xlabel("Per osservare che offerta 'Booking.com paga' √® responsabile delle differenze di prezzo")
legend_elements = [
    Patch(facecolor=colors[0], edgecolor='black', label='Desktop vs Desktop'),
    Patch(facecolor=colors[1], edgecolor='black', label='Mobile vs Desktop')
    
]
plt.legend(handles=legend_elements, loc='upper left',fontsize=14)

# Visualizzazione del grafico
plt.show()

In [10]:
media_diff_prezzo_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['media'].mean()

media_num_diff_prezzo_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_mob_mob = zone3r1[zone3r1['tipo_ricerche']=="mobile/mobile"]['xor_booking_paga'].mean()


media_diff_prezzo_desk_desk = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['media'].mean()

media_num_diff_prezzo_desk_desk = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['num_differenze_prezzo'].mean()
media_xor_booking_paga_desk_desk = zone3r2[zone3r2['tipo_ricerche']=="desktop/desktop"]['xor_booking_paga'].mean()

medie_diff_prezzo = [media_num_diff_prezzo_mob_mob, media_num_diff_prezzo_desk_desk]
medie_xor_booking_paga = [media_xor_booking_paga_mob_mob,media_xor_booking_paga_desk_desk]


width = 0.25

# Calcolo delle posizioni delle barre
indexs = np.arange(2)
colors = ['lightblue', 'lightgreen']
# Creazione del grafico a barre
plt.style.use("seaborn-v0_8-dark")

plt.bar(indexs+width, medie_xor_booking_paga, width=width, color =colors,edgecolor = "grey")
plt.bar(indexs+width*2, medie_diff_prezzo, width=width,color = colors,edgecolor = "grey")

# Aggiunta delle etichette
plt.title('Atypical Search',fontsize=18)
plt.xticks([])

plt.text(0.145,-25,"Booking Pay", fontsize = 14)
plt.text(0.405,-25,"Num Diff Prices", fontsize = 14)

plt.text(0.145+1,-25,"Booking Pay", fontsize = 14)
plt.text(0.405+1,-25,"Num Diff Prices", fontsize = 14)
plt.text(0.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_mob_mob.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1.25,50,"Avg Price Diff\n"+str(media_diff_prezzo_desk_desk.round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
#plt.xlabel("Per osservare che offerta 'Booking.com paga' √® responsabile delle differenze di prezzo")
legend_elements = [
    Patch(facecolor=colors[0], edgecolor='black', label='Mobile vs Mobile'),
    Patch(facecolor=colors[1], edgecolor='black', label='Desktop vs Desktop')
    
]
plt.legend(handles=legend_elements, loc='upper center',fontsize=14,)

# Visualizzazione del grafico
plt.show()

In [11]:
# Creo Grafico per zona 1 e 2 
plt.style.use("seaborn-v0_8-dark")

medie_diff_prezzo = [zone1['num_differenze_prezzo'].mean(), zone2['num_differenze_prezzo'].mean()]
medie_xor_mobile = [zone1['xor_offerta_solo_mobile'].mean(),zone2['xor_offerta_solo_mobile'].mean()]
medie_xor_booking_paga = [zone1['xor_booking_paga'].mean(),zone2['xor_booking_paga'].mean()]

indexs = np.arange(2)
colors = ['lightblue', 'lightgreen']
width=0.25

plt.bar(indexs, medie_xor_mobile, width=width,color = colors,edgecolor = "grey")
plt.bar(indexs+width, medie_xor_booking_paga, width=width, color =colors,edgecolor = "grey")
plt.bar(indexs+width*2, medie_diff_prezzo, width=width,color = colors,edgecolor = "grey")

# Aggiunta delle etichette
plt.title('Typical Search',fontsize=18)
plt.xticks([])
plt.text(-0.125,-25,"Mobile-Only Offer", fontsize = 14)
plt.text(0.145,-25,"Booking Pay", fontsize = 14)
plt.text(0.405,-25,"Num Diff Prices", fontsize = 14)
plt.text(-0.125+1.05,-25,"Mobile-Only Offer", fontsize = 14)
plt.text(0.145+1,-25,"Booking Pay", fontsize = 14)
plt.text(0.405+1,-25,"Num Diff Prices", fontsize = 14)
plt.text(0.25,50,"Avg Price Diff\n"+str(zone1['media'].mean().round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1.25,50,"Avg Price Diff\n"+str(zone2['media'].mean().round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
#plt.xlabel("Per osservare che offerta 'Booking.com paga' √® responsabile delle differenze di prezzo")
legend_elements = [
    Patch(facecolor=colors[0], edgecolor='black', label='Desktop vs Desktop or Mobile vs Mobile'),
    Patch(facecolor=colors[1], edgecolor='black', label='Mobile vs Desktop')
    
]
plt.legend(handles=legend_elements, loc='upper left',fontsize=14)

# Visualizzazione del grafico
plt.show()

In [12]:
# Elimino una o pi√π ricerche dal dataframe
new_df = df_diff_prezzo.drop(df_diff_prezzo[df_diff_prezzo['coppia_ricerche'].str.contains("20:42")].index) 
new_df.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,totale_corrispondenze,num_differenze_prezzo,media,mediana,%_prezzi_diversi,xor_booking_paga,xor_offerta_solo_mobile,tipo_ricerche,os,username,prezzi_inferiori
179,03-07-2024---14:20 *** 03-07-2024---16:09,936,697,11.609756,10.0,74.465812,659,0,mobile/mobile,Android/Android,pantilaura56/marcofantile,Dataframe_2
165,03-07-2024---14:00 *** 03-07-2024---16:09,909,676,11.857988,10.0,74.367437,675,0,mobile/mobile,Android/Android,pantilaura56/marcofantile,Dataframe_2
275,03-07-2024---17:32 *** 03-07-2024---17:51,900,656,11.592988,11.0,72.888889,0,0,desktop/desktop,Linux/MacOS,marcofantile/marcofantile,Dataframe_1
273,03-07-2024---17:21 *** 03-07-2024---17:32,889,644,11.740683,11.0,72.440945,34,0,desktop/desktop,Windows/Linux,marcofantile/marcofantile,Dataframe_2
234,03-07-2024---15:20 *** 03-07-2024---16:09,801,622,17.948553,14.0,77.652934,537,271,desktop/mobile,Linux/Android,pantilaura56/marcofantile,Dataframe_2
...,...,...,...,...,...,...,...,...,...,...,...,...
230,03-07-2024---15:08 *** 03-07-2024---17:51,759,0,NaN,NaN,0.000000,0,0,desktop/desktop,Linux/MacOS,pantilaura56/marcofantile,Dataframe_2
252,03-07-2024---15:43 *** 03-07-2024---17:21,762,0,NaN,NaN,0.000000,0,0,desktop/desktop,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
270,03-07-2024---17:03 *** 03-07-2024---17:21,873,0,NaN,NaN,0.000000,0,0,desktop/desktop,Windows/Windows,marcofantile/marcofantile,Dataframe_2
272,03-07-2024---17:03 *** 03-07-2024---17:51,874,0,NaN,NaN,0.000000,0,0,desktop/desktop,Windows/MacOS,marcofantile/marcofantile,Dataframe_2
274,03-07-2024---17:21 *** 03-07-2024---17:51,928,0,NaN,NaN,0.000000,0,0,desktop/desktop,Windows/MacOS,marcofantile/marcofantile,Dataframe_2

In [13]:
# Visualizza il numero di ricerche mobile e desktop
mobile = 0
desktop = 0
for i in df_list:
    df1 = df[df["TIMESTAMP"]==i]
    stringa = df1['user_agent_type'].unique()[0]
    if "mob" in stringa:
        mobile +=1
    else: desktop+=1
    print(df1['user_agent_type'].unique())

print("Mobile:", mobile,"Desktop:",desktop)

['mobile']
['desktop']
['desktop']
['mobile']
['desktop']
['desktop']
['desktop']
['desktop']
['mobile']
['mobile']
['desktop']
['desktop']
['desktop']
['desktop']
['desktop']
['desktop']
['desktop']
['mobile']
['mobile']
['desktop']
['desktop']
['desktop']
['desktop']
['desktop']
Mobile: 6 Desktop: 18

In [14]:
# Ora faccio Merge per confrontare prezzi tra OS
df['os'].unique()

os1 = 'MacOS'
os2 = 'Windows'
search = "17:32"
selected_os_list = df[(df['os']==os1) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()
other_os_list = df[(df['os']==os2) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()


os_pairs = [(x,y) for x in selected_os_list for y in other_os_list]
list_dict_df = []

for i in os_pairs:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    #merged_solo_nome = pd.merge(df1,df2, on='nome_hotel')
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data','prezzo_iniziale'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data','prezzo_iniziale'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    # Elimino hotel con stesso nome 
    merged_df = merged_df.drop_duplicates(subset="nome_hotel",keep= False)
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"])
    media_positivi = merged_df.loc[merged_df['differenza_prezzo'] > 0, 'differenza_prezzo'].mean()
    media_negativi = merged_df.loc[merged_df['differenza_prezzo'] < 0, 'differenza_prezzo'].mean()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe_1"
    else: prezzi_inferiori = "Dataframe_2"
    try: 
        xor_booking_paga = len(merged_df[(merged_df['booking_paga_x']) ^ (merged_df['booking_paga_y'])])
    except:
        xor_booking_paga = None
    
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df['totale_corrispondenze'] = initial_len
    dict_df ['num_diff_prezzo'] = len(merged_df)
    dict_df ['num_diff_prezzo_negative'] = len(merged_df[merged_df['prezzo_x']<merged_df['prezzo_y']])
    dict_df ['num_diff_prezzo_positive'] = len(merged_df[merged_df['prezzo_x']>merged_df['prezzo_y']])
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['media_positivi'] = media_positivi
    dict_df ['media_negativi'] = media_negativi
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len*100
    #dict_df['hotel_scartati'] = len(merged_solo_nome) - initial_len
    dict_df['xor_booking_paga'] = xor_booking_paga
    dict_df['os'] = df1['os'].unique()[0] + "/"+ df2['os'].unique()[0]
    dict_df['username'] = df1['username'].unique()[0] + "/"+ df2['username'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    list_dict_df.append(dict_df)

df_diff_prezzo = pd.DataFrame(list_dict_df)   
#pd.set_option('display.max_rows', None)

df_diff_prezzo = df_diff_prezzo[df_diff_prezzo['media'].notnull()]
df_diff_prezzo.sort_values(by=['num_diff_prezzo'],ascending= False)

,coppia_ricerche,totale_corrispondenze,num_diff_prezzo,num_diff_prezzo_negative,num_diff_prezzo_positive,media,media_positivi,media_negativi,mediana,%_prezzi_diversi,xor_booking_paga,os,username,prezzi_inferiori
1,03-07-2024---13:25 *** 03-07-2024---13:02,750,42,41,1,-22.404762,18.000000,-23.390244,-19.5,5.600000,0,MacOS/Windows,sunnytraveler/sunnytraveler,Dataframe_1
13,03-07-2024---15:32 *** 03-07-2024---13:02,721,40,39,1,-22.625000,18.000000,-23.666667,-19.5,5.547850,39,MacOS/Windows,pantilaura56/sunnytraveler,Dataframe_1
6,03-07-2024---13:40 *** 03-07-2024---12:08,887,37,0,37,23.621622,23.621622,NaN,20.0,4.171364,0,MacOS/Windows,sunnytraveler/sunnytraveler,Dataframe_2
8,03-07-2024---13:40 *** 03-07-2024---14:38,920,37,0,37,24.081081,24.081081,NaN,21.0,4.021739,37,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
10,03-07-2024---13:40 *** 03-07-2024---17:03,778,34,0,34,23.235294,23.235294,NaN,22.5,4.370180,34,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
31,03-07-2024---17:51 *** 03-07-2024---13:02,592,29,29,0,-26.310345,NaN,-26.310345,-23.0,4.898649,0,MacOS/Windows,marcofantile/sunnytraveler,Dataframe_1
11,03-07-2024---13:40 *** 03-07-2024---17:21,739,25,0,25,24.440000,24.440000,NaN,22.0,3.382950,25,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
25,03-07-2024---16:51 *** 03-07-2024---13:02,709,25,10,15,11.000000,27.800000,-14.200000,7.0,3.526093,0,MacOS/Windows,marcofantile/sunnytraveler,Dataframe_2
28,03-07-2024---16:51 *** 03-07-2024---17:03,798,23,0,23,27.043478,27.043478,NaN,17.0,2.882206,1,MacOS/Windows,marcofantile/marcofantile,Dataframe_2
27,03-07-2024---16:51 *** 03-07-2024---14:49,891,23,0,23,29.565217,29.565217,NaN,19.0,2.581369,1,MacOS/Windows,marcofantile/pantilaura56,Dataframe_2
29,03-07-2024---16:51 *** 03-07-2024---17:21,757,22,0,22,29.818182,29.818182,NaN,20.0,2.906209,0,MacOS/Windows,marcofantile/marcofantile,Dataframe_2
26,03-07-2024---16:51 *** 03-07-2024---14:38,830,20,0,20,31.400000,31.400000,NaN,20.0,2.409639,1,MacOS/Windows,marcofantile/pantilaura56,Dataframe_2
24,03-07-2024---16:51 *** 03-07-2024---12:08,813,17,0,17,33.235294,33.235294,NaN,17.0,2.091021,0,MacOS/Windows,marcofantile/sunnytraveler,Dataframe_2
19,03-07-2024---15:43 *** 03-07-2024---13:02,727,10,10,0,-15.500000,NaN,-15.500000,-14.0,1.375516,10,MacOS/Windows,pantilaura56/sunnytraveler,Dataframe_1
9,03-07-2024---13:40 *** 03-07-2024---14:49,868,9,0,9,15.666667,15.666667,NaN,14.0,1.036866,9,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
14,03-07-2024---15:32 *** 03-07-2024---14:38,898,2,0,2,31.500000,31.500000,NaN,31.5,0.222717,0,MacOS/Windows,pantilaura56/pantilaura56,Dataframe_2
12,03-07-2024---15:32 *** 03-07-2024---12:08,853,2,0,2,31.500000,31.500000,NaN,31.5,0.234467,0,MacOS/Windows,pantilaura56/sunnytraveler,Dataframe_2
17,03-07-2024---15:32 *** 03-07-2024---17:21,755,1,0,1,18.000000,18.000000,NaN,18.0,0.132450,0,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
16,03-07-2024---15:32 *** 03-07-2024---17:03,799,1,0,1,18.000000,18.000000,NaN,18.0,0.125156,0,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
20,03-07-2024---15:43 *** 03-07-2024---14:38,854,1,0,1,17.000000,17.000000,NaN,17.0,0.117096,0,MacOS/Windows,pantilaura56/pantilaura56,Dataframe_2
22,03-07-2024---15:43 *** 03-07-2024---17:03,802,1,0,1,17.000000,17.000000,NaN,17.0,0.124688,0,MacOS/Windows,pantilaura56/marcofantile,Dataframe_2
15,03-07-2024---15:32 *** 03-07-2024---14:49,853,1,0,1,18.000000,18.000000,NaN,18.0,0.117233,0,MacOS/Windows,pantilaura56/pantilaura56,Dataframe_2
5,03-07-2024---13:25 *** 03-07-2024---17:21,738,1,0,1,18.000000,18.000000,NaN,18.0,0.135501,0,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
4,03-07-2024---13:25 *** 03-07-2024---17:03,785,1,0,1,18.000000,18.000000,NaN,18.0,0.127389,0,MacOS/Windows,sunnytraveler/marcofantile,Dataframe_2
3,03-07-2024---13:25 *** 03-07-2024---14:49,874,1,0,1,18.000000,18.000000,NaN,18.0,0.114416,0,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
2,03-07-2024---13:25 *** 03-07-2024---14:38,922,1,0,1,18.000000,18.000000,NaN,18.0,0.108460,0,MacOS/Windows,sunnytraveler/pantilaura56,Dataframe_2
0,03-07-2024---13:25 *** 03-07-2024---12:08,898,1,0,1,18.000000,18.000000,NaN,18.0,0.111359,0,MacOS/Windows,sunnytraveler/sunnytraveler,Dataframe_2

In [15]:
# Quando le differenze di prezzo sono negative abbiamo cost√¨ pi√π bassi su MacOS
num_prezzi_bassi_mac = df_diff_prezzo['num_diff_prezzo_negative'].sum()
num_prezzi_bassi_win = df_diff_prezzo['num_diff_prezzo_positive'].sum()

# Media Pesata
media_pesata_tot= ((df_diff_prezzo['num_diff_prezzo']*df_diff_prezzo['media']).sum())/(df_diff_prezzo['num_diff_prezzo'].sum())

media_pesata_negativi = ((df_diff_prezzo['num_diff_prezzo_negative']*df_diff_prezzo['media_negativi']).sum())/(df_diff_prezzo['num_diff_prezzo_negative'].sum())
media_pesata_positivi = ((df_diff_prezzo['num_diff_prezzo_positive']*df_diff_prezzo['media_positivi']).sum())/(df_diff_prezzo['num_diff_prezzo_positive'].sum())
num_prezzi_bassi_mac

129

In [16]:
# Ora faccio Merge per confrontare prezzi tra OS
import random 
df['os'].unique()

os1 = 'MacOS'
os2 = 'Linux'
search = "17:32"
selected_os_list = df[(df['os']==os1) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()
elemento_random = np.random.randint(0,len(selected_os_list))
selected_os_list = np.delete(selected_os_list,elemento_random)
other_os_list = df[(df['os']==os2) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()


os_pairs = [(x,y) for x in selected_os_list for y in other_os_list]
list_dict_df = []

for i in os_pairs:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    #merged_solo_nome = pd.merge(df1,df2, on='nome_hotel')
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data','prezzo_iniziale'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data','prezzo_iniziale'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    # Elimino hotel con stesso nome 
    merged_df = merged_df.drop_duplicates(subset="nome_hotel",keep= False)
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"])
    media_positivi = merged_df.loc[merged_df['differenza_prezzo'] > 0, 'differenza_prezzo'].mean()
    media_negativi = merged_df.loc[merged_df['differenza_prezzo'] < 0, 'differenza_prezzo'].mean()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe_1"
    else: prezzi_inferiori = "Dataframe_2"
    try: 
        xor_booking_paga = len(merged_df[(merged_df['booking_paga_x']) ^ (merged_df['booking_paga_y'])])
    except:
        xor_booking_paga = None
    
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df['totale_corrispondenze'] = initial_len
    dict_df ['num_diff_prezzo'] = len(merged_df)
    dict_df ['num_diff_prezzo_negative'] = len(merged_df[merged_df['prezzo_x']<merged_df['prezzo_y']])
    dict_df ['num_diff_prezzo_positive'] = len(merged_df[merged_df['prezzo_x']>merged_df['prezzo_y']])
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['media_positivi'] = media_positivi
    dict_df ['media_negativi'] = media_negativi
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len*100
    #dict_df['hotel_scartati'] = len(merged_solo_nome) - initial_len
    dict_df['xor_booking_paga'] = xor_booking_paga
    dict_df['os'] = df1['os'].unique()[0] + "/"+ df2['os'].unique()[0]
    dict_df['username'] = df1['username'].unique()[0] + "/"+ df2['username'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    list_dict_df.append(dict_df)

df_diff_prezzo = pd.DataFrame(list_dict_df)   
#pd.set_option('display.max_rows', None)

df_diff_prezzo = df_diff_prezzo[df_diff_prezzo['media'].notnull()]
df_diff_prezzo.sort_values(by=['num_diff_prezzo'],ascending= False)

,coppia_ricerche,totale_corrispondenze,num_diff_prezzo,num_diff_prezzo_negative,num_diff_prezzo_positive,media,media_positivi,media_negativi,mediana,%_prezzi_diversi,xor_booking_paga,os,username,prezzi_inferiori
9,03-07-2024---13:40 *** 03-07-2024---15:20,926,56,17,39,10.107143,24.128205,-22.058824,16.0,6.047516,39,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
2,03-07-2024---13:25 *** 03-07-2024---14:59,940,43,42,1,-4.093023,18.000000,-4.619048,-4.0,4.574468,42,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_1
7,03-07-2024---13:40 *** 03-07-2024---14:59,937,40,0,40,19.375000,19.375000,NaN,17.5,4.268943,40,MacOS/Linux,sunnytraveler/marcofantile,Dataframe_2
5,03-07-2024---13:40 *** 03-07-2024---12:34,926,39,0,39,23.717949,23.717949,NaN,20.0,4.211663,39,MacOS/Linux,sunnytraveler/sunnytraveler,Dataframe_2
8,03-07-2024---13:40 *** 03-07-2024---15:08,887,39,0,39,23.358974,23.358974,NaN,20.0,4.396843,39,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
22,03-07-2024---17:51 *** 03-07-2024---14:59,779,34,34,0,-4.970588,NaN,-4.970588,-4.0,4.364570,34,MacOS/Linux,marcofantile/marcofantile,Dataframe_1
19,03-07-2024---16:51 *** 03-07-2024---15:20,871,32,13,19,9.937500,34.210526,-25.538462,9.5,3.673938,1,MacOS/Linux,marcofantile/pantilaura56,Dataframe_2
17,03-07-2024---16:51 *** 03-07-2024---14:59,870,31,9,22,20.806452,30.545455,-3.000000,11.0,3.563218,10,MacOS/Linux,marcofantile/marcofantile,Dataframe_2
18,03-07-2024---16:51 *** 03-07-2024---15:08,859,23,0,23,30.565217,30.565217,NaN,21.0,2.677532,1,MacOS/Linux,marcofantile/pantilaura56,Dataframe_2
16,03-07-2024---16:51 *** 03-07-2024---13:14,846,21,0,21,32.095238,32.095238,NaN,22.0,2.482270,0,MacOS/Linux,marcofantile/sunnytraveler,Dataframe_2
15,03-07-2024---16:51 *** 03-07-2024---12:34,812,18,0,18,33.777778,33.777778,NaN,21.5,2.216749,1,MacOS/Linux,marcofantile/sunnytraveler,Dataframe_2
24,03-07-2024---17:51 *** 03-07-2024---15:20,772,17,17,0,-21.117647,NaN,-21.117647,-17.0,2.202073,0,MacOS/Linux,marcofantile/pantilaura56,Dataframe_1
4,03-07-2024---13:25 *** 03-07-2024---15:20,929,15,15,0,-21.333333,NaN,-21.333333,-17.0,1.614639,0,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_1
14,03-07-2024---15:43 *** 03-07-2024---15:20,903,14,14,0,-22.785714,NaN,-22.785714,-17.0,1.550388,0,MacOS/Linux,pantilaura56/pantilaura56,Dataframe_1
12,03-07-2024---15:43 *** 03-07-2024---14:59,904,11,10,1,-1.363636,17.000000,-3.200000,-3.0,1.216814,0,MacOS/Linux,pantilaura56/marcofantile,Dataframe_1
6,03-07-2024---13:40 *** 03-07-2024---13:14,885,9,0,9,15.777778,15.777778,NaN,14.0,1.016949,0,MacOS/Linux,sunnytraveler/sunnytraveler,Dataframe_2
0,03-07-2024---13:25 *** 03-07-2024---12:34,937,1,0,1,18.000000,18.000000,NaN,18.0,0.106724,0,MacOS/Linux,sunnytraveler/sunnytraveler,Dataframe_2
13,03-07-2024---15:43 *** 03-07-2024---15:08,894,1,0,1,17.000000,17.000000,NaN,17.0,0.111857,0,MacOS/Linux,pantilaura56/pantilaura56,Dataframe_2
1,03-07-2024---13:25 *** 03-07-2024---13:14,902,1,0,1,18.000000,18.000000,NaN,18.0,0.110865,0,MacOS/Linux,sunnytraveler/sunnytraveler,Dataframe_2
10,03-07-2024---15:43 *** 03-07-2024---12:34,841,1,0,1,17.000000,17.000000,NaN,17.0,0.118906,0,MacOS/Linux,pantilaura56/sunnytraveler,Dataframe_2
3,03-07-2024---13:25 *** 03-07-2024---15:08,885,1,0,1,18.000000,18.000000,NaN,18.0,0.112994,0,MacOS/Linux,sunnytraveler/pantilaura56,Dataframe_2
11,03-07-2024---15:43 *** 03-07-2024---13:14,870,1,0,1,17.000000,17.000000,NaN,17.0,0.114943,0,MacOS/Linux,pantilaura56/sunnytraveler,Dataframe_2

In [17]:
# Quando le differenze di prezzo sono negative abbiamo cost√¨ pi√π bassi su MacOS
num_prezzi_bassi_mac2 = df_diff_prezzo['num_diff_prezzo_negative'].sum()
num_prezzi_bassi_lin2 = df_diff_prezzo['num_diff_prezzo_positive'].sum()

# Media Pesata
media_pesata_tot2= ((df_diff_prezzo['num_diff_prezzo']*df_diff_prezzo['media']).sum())/(df_diff_prezzo['num_diff_prezzo'].sum())

media_pesata_negativi2 = ((df_diff_prezzo['num_diff_prezzo_negative']*df_diff_prezzo['media_negativi']).sum())/(df_diff_prezzo['num_diff_prezzo_negative'].sum())
media_pesata_positivi2 = ((df_diff_prezzo['num_diff_prezzo_positive']*df_diff_prezzo['media_positivi']).sum())/(df_diff_prezzo['num_diff_prezzo_positive'].sum())

media_pesata_positivi2

25.779783393501805

In [18]:
# Ora faccio Merge per confrontare prezzi tra OS
import random 
df['os'].unique()

os1 = 'Windows'
os2 = 'Linux'
search = "17:32"
selected_os_list = df[(df['os']==os1) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()
elemento_random = np.random.randint(0,len(selected_os_list))
selected_os_list = np.delete(selected_os_list,elemento_random)
other_os_list = df[(df['os']==os2) & (~df['TIMESTAMP'].str.contains(search))]['TIMESTAMP'].unique()


os_pairs = [(x,y) for x in selected_os_list for y in other_os_list]
list_dict_df = []

for i in os_pairs:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    #merged_solo_nome = pd.merge(df1,df2, on='nome_hotel')
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data','prezzo_iniziale'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data','prezzo_iniziale'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    # Elimino hotel con stesso nome 
    merged_df = merged_df.drop_duplicates(subset="nome_hotel",keep= False)
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"])
    media_positivi = merged_df.loc[merged_df['differenza_prezzo'] > 0, 'differenza_prezzo'].mean()
    media_negativi = merged_df.loc[merged_df['differenza_prezzo'] < 0, 'differenza_prezzo'].mean()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe_1"
    else: prezzi_inferiori = "Dataframe_2"
    try: 
        xor_booking_paga = len(merged_df[(merged_df['booking_paga_x']) ^ (merged_df['booking_paga_y'])])
    except:
        xor_booking_paga = None
    
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df['totale_corrispondenze'] = initial_len
    dict_df ['num_diff_prezzo'] = len(merged_df)
    dict_df ['num_diff_prezzo_negative'] = len(merged_df[merged_df['prezzo_x']<merged_df['prezzo_y']])
    dict_df ['num_diff_prezzo_positive'] = len(merged_df[merged_df['prezzo_x']>merged_df['prezzo_y']])
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['media_positivi'] = media_positivi
    dict_df ['media_negativi'] = media_negativi
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len*100
    #dict_df['hotel_scartati'] = len(merged_solo_nome) - initial_len
    dict_df['xor_booking_paga'] = xor_booking_paga
    dict_df['os'] = df1['os'].unique()[0] + "/"+ df2['os'].unique()[0]
    dict_df['username'] = df1['username'].unique()[0] + "/"+ df2['username'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    list_dict_df.append(dict_df)

df_diff_prezzo = pd.DataFrame(list_dict_df)   
#pd.set_option('display.max_rows', None)

df_diff_prezzo = df_diff_prezzo[df_diff_prezzo['media'].notnull()]
df_diff_prezzo.sort_values(by=['num_diff_prezzo'],ascending= False)

,coppia_ricerche,totale_corrispondenze,num_diff_prezzo,num_diff_prezzo_negative,num_diff_prezzo_positive,media,media_positivi,media_negativi,mediana,%_prezzi_diversi,xor_booking_paga,os,username,prezzi_inferiori
9,03-07-2024---13:02 *** 03-07-2024---15:20,729,51,13,38,12.352941,23.921053,-21.461538,16.0,6.995885,38,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_2
5,03-07-2024---13:02 *** 03-07-2024---12:34,749,40,0,40,23.675000,23.675000,NaN,20.5,5.340454,40,Windows/Linux,sunnytraveler/sunnytraveler,Dataframe_2
7,03-07-2024---13:02 *** 03-07-2024---14:59,732,39,0,39,19.205128,19.205128,NaN,17.0,5.327869,39,Windows/Linux,sunnytraveler/marcofantile,Dataframe_2
12,03-07-2024---14:38 *** 03-07-2024---14:59,930,39,39,0,-4.615385,NaN,-4.615385,-4.0,4.193548,0,Windows/Linux,pantilaura56/marcofantile,Dataframe_1
2,03-07-2024---12:08 *** 03-07-2024---14:59,879,37,37,0,-4.648649,NaN,-4.648649,-4.0,4.209329,37,Windows/Linux,sunnytraveler/marcofantile,Dataframe_1
8,03-07-2024---13:02 *** 03-07-2024---15:08,724,37,0,37,23.351351,23.351351,NaN,20.0,5.110497,37,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_2
22,03-07-2024---17:21 *** 03-07-2024---14:59,773,27,27,0,-4.740741,NaN,-4.740741,-4.0,3.492885,0,Windows/Linux,marcofantile/marcofantile,Dataframe_1
14,03-07-2024---14:38 *** 03-07-2024---15:20,915,18,18,0,-21.500000,NaN,-21.500000,-17.5,1.967213,0,Windows/Linux,pantilaura56/pantilaura56,Dataframe_1
4,03-07-2024---12:08 *** 03-07-2024---15:20,872,16,16,0,-22.375000,NaN,-22.375000,-18.0,1.834862,0,Windows/Linux,sunnytraveler/pantilaura56,Dataframe_1
24,03-07-2024---17:21 *** 03-07-2024---15:20,771,15,15,0,-21.266667,NaN,-21.266667,-16.0,1.945525,0,Windows/Linux,marcofantile/pantilaura56,Dataframe_1
19,03-07-2024---14:49 *** 03-07-2024---15:20,872,14,14,0,-21.785714,NaN,-21.785714,-17.0,1.605505,0,Windows/Linux,pantilaura56/pantilaura56,Dataframe_1
17,03-07-2024---14:49 *** 03-07-2024---14:59,888,11,11,0,-3.181818,NaN,-3.181818,-3.0,1.238739,0,Windows/Linux,pantilaura56/marcofantile,Dataframe_1
6,03-07-2024---13:02 *** 03-07-2024---13:14,736,9,0,9,15.777778,15.777778,NaN,14.0,1.222826,0,Windows/Linux,sunnytraveler/sunnytraveler,Dataframe_2

In [19]:
# Quando le differenze di prezzo sono negative abbiamo cost√¨ pi√π bassi su MacOS
num_prezzi_bassi_win3 = df_diff_prezzo['num_diff_prezzo_negative'].sum()
num_prezzi_bassi_lin3 = df_diff_prezzo['num_diff_prezzo_positive'].sum()

# Media Pesata
media_pesata_tot3= ((df_diff_prezzo['num_diff_prezzo']*df_diff_prezzo['media']).sum())/(df_diff_prezzo['num_diff_prezzo'].sum())

media_pesata_negativi3 = ((df_diff_prezzo['num_diff_prezzo_negative']*df_diff_prezzo['media_negativi']).sum())/(df_diff_prezzo['num_diff_prezzo_negative'].sum())
media_pesata_positivi3 = ((df_diff_prezzo['num_diff_prezzo_positive']*df_diff_prezzo['media_positivi']).sum())/(df_diff_prezzo['num_diff_prezzo_positive'].sum())

num_prezzi_bassi_win3
media_pesata_tot3
#num_prezzi_bassi_win3

4.101983002832861

In [22]:
num_prezzi_bassi_primo = [num_prezzi_bassi_mac,num_prezzi_bassi_mac2,num_prezzi_bassi_win3]
num_prezzi_bassi_secondo = [num_prezzi_bassi_win,num_prezzi_bassi_lin2,num_prezzi_bassi_lin3]

# Definizione delle etichette delle barre
# Definizione della larghezza delle barre
width = 0.25

# Calcolo delle posizioni delle barre
indexs = np.arange(3)
colors = ['lightblue', 'lightblue','#D81E5B']
colors2 = ['#D81E5B', 'lightgreen','lightgreen']

# Creazione del grafico a barre
plt.style.use("seaborn-v0_8-dark")
plt.title("Number of Different Prices by OS",fontsize=18)
plt.bar(indexs, num_prezzi_bassi_primo , width=width,color=colors,edgecolor = "grey")
plt.bar(indexs+width, num_prezzi_bassi_secondo, width=width,color = colors2,edgecolor = "grey")

legend_elements = [
    Patch(facecolor=colors[0], edgecolor='black', label='MacOS'),
    Patch(facecolor=colors[2], edgecolor='black', label='Windows'),
    Patch(facecolor= colors2[2], edgecolor='black', label='Linux')
    
]
plt.legend(handles=legend_elements, loc='upper left',fontsize=14)
plt.text(0.02,15,str(abs(media_pesata_negativi).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(0.26,15,str(abs(media_pesata_positivi).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1,15,str(abs(media_pesata_negativi2).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(1.26,15,str(abs(media_pesata_positivi2).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(2,15,str(abs(media_pesata_negativi3).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.text(2.26,15,str(abs(media_pesata_positivi3).round(2))+'‚Ç¨', fontsize=14, color='black', ha='center',fontweight = "bold")
plt.xticks([])


plt.show()

In [23]:
len()

25