In [68]:
# Carica il file csv e coonverto colonna dei prezzi in int
import pandas as pd
import re
import itertools

df=pd.read_csv("dati_milano/milano_dati_booking.csv")
df['prezzo'] = df['prezzo'].apply(lambda x: int(re.search(r'\d+', x).group()))
df.columns

Index(['nome_hotel', 'prezzo', 'stanza', 'città', 'data', 'punteggio',
       'numero_recensioni', 'distanza_centro', 'genius', 'offerte',
       'colazione_inclusa', 'senza_pagamento_anticipato',
       'cancellazione_gratuita', 'os', 'username', 'user_agent_type',
       'TIMESTAMP'],
      dtype='object')

In [69]:
#Prendo tutte le combinazioni di coppie di ricerche sulla stessa città
df_list = df['TIMESTAMP'].unique()
coppie_df = list(itertools.combinations(df_list, 2))

In [70]:
# Creo un Dataframe per vedere differenze di prezzo tra diverse ricerche
list_dict_df = []
for i in coppie_df:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"]).abs()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe 1"
    else: prezzi_inferiori = "Dataframe 2"
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df ['num_differenze_prezzo'] = len(merged_df)
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len
    dict_df['tipo ricerche'] = df1['user_agent_type'].unique()[0] + "/"+ df2['user_agent_type'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    list_dict_df.append(dict_df)

df_differenze = pd.DataFrame(list_dict_df)   
df_differenze.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,num_differenze_prezzo,media,mediana,%_prezzi_diversi,tipo ricerche,prezzi_inferiori
9,03-02-2024---20:31 *** 03-02-2024---20:42,712,8.571629,7.0,0.740125,desktop/desktop,Dataframe 2
20,03-02-2024---20:42 *** 03-02-2024---22:10,703,8.150782,7.0,0.736897,desktop/desktop,Dataframe 1
21,03-02-2024---20:42 *** 03-02-2024---22:41,697,8.711621,7.0,0.784910,desktop/mobile,Dataframe 1
19,03-02-2024---20:42 *** 03-02-2024---21:42,691,8.798842,7.0,0.786121,desktop/mobile,Dataframe 1
17,03-02-2024---20:42 *** 03-02-2024---20:53,689,9.001451,7.0,0.775901,desktop/mobile,Dataframe 2
18,03-02-2024---20:42 *** 03-02-2024---21:30,678,8.467552,7.0,0.739368,desktop/desktop,Dataframe 1
22,03-02-2024---20:42 *** 03-03-2024---13:08,593,9.558179,7.0,0.771131,desktop/mobile,Dataframe 2
1,03-02-2024---20:14 *** 03-02-2024---20:42,480,7.931250,7.0,0.727273,mobile/desktop,Dataframe 2
23,03-02-2024---20:42 *** 03-03-2024---13:23,450,7.717778,6.0,0.710900,desktop/desktop,Dataframe 1
26,03-02-2024---20:53 *** 03-02-2024---22:10,356,14.632022,13.0,0.398210,mobile/desktop,Dataframe 1
10,03-02-2024---20:31 *** 03-02-2024---20:53,353,14.968839,14.0,0.393534,desktop/mobile,Dataframe 2
14,03-02-2024---20:31 *** 03-02-2024---22:41,352,16.718750,14.0,0.392419,desktop/mobile,Dataframe 2
12,03-02-2024---20:31 *** 03-02-2024---21:42,352,16.315341,14.0,0.398190,desktop/mobile,Dataframe 2
35,03-02-2024---21:42 *** 03-02-2024---22:10,344,14.805233,13.0,0.390465,mobile/desktop,Dataframe 1
15,03-02-2024---20:31 *** 03-03-2024---13:08,338,16.582840,14.0,0.438961,desktop/mobile,Dataframe 2
32,03-02-2024---21:30 *** 03-02-2024---22:41,336,15.925595,14.0,0.387991,desktop/mobile,Dataframe 2
30,03-02-2024---21:30 *** 03-02-2024---21:42,330,15.627273,13.0,0.389151,desktop/mobile,Dataframe 2
40,03-02-2024---22:10 *** 03-03-2024---13:08,327,15.159021,14.0,0.424125,desktop/mobile,Dataframe 2
39,03-02-2024---22:10 *** 03-02-2024---22:41,326,15.236196,14.0,0.364653,desktop/mobile,Dataframe 2
33,03-02-2024---21:30 *** 03-03-2024---13:08,320,15.696875,14.0,0.435374,desktop/mobile,Dataframe 2
24,03-02-2024---20:53 *** 03-02-2024---21:30,319,15.172414,14.0,0.367935,mobile/desktop,Dataframe 1
8,03-02-2024---20:14 *** 03-03-2024---13:23,267,12.647940,11.0,0.340127,mobile/desktop,Dataframe 1
38,03-02-2024---21:42 *** 03-03-2024---13:23,237,13.303797,12.0,0.401695,mobile/desktop,Dataframe 1
0,03-02-2024---20:14 *** 03-02-2024---20:31,233,14.858369,13.0,0.354642,mobile/desktop,Dataframe 1
3,03-02-2024---20:14 *** 03-02-2024---21:30,233,14.253219,13.0,0.350376,mobile/desktop,Dataframe 1
5,03-02-2024---20:14 *** 03-02-2024---22:10,226,13.486726,13.0,0.345566,mobile/desktop,Dataframe 1
43,03-02-2024---22:41 *** 03-03-2024---13:23,224,13.866071,12.0,0.381601,mobile/desktop,Dataframe 1
29,03-02-2024---20:53 *** 03-03-2024---13:23,221,14.176471,12.0,0.374576,mobile/desktop,Dataframe 1
44,03-03-2024---13:08 *** 03-03-2024---13:23,186,13.010753,12.0,0.303426,mobile/desktop,Dataframe 1
28,03-02-2024---20:53 *** 03-03-2024---13:08,129,15.635659,11.0,0.166882,mobile/mobile,Dataframe 1
37,03-02-2024---21:42 *** 03-03-2024---13:08,97,13.103093,8.0,0.125323,mobile/mobile,Dataframe 2
25,03-02-2024---20:53 *** 03-02-2024---21:42,87,16.655172,14.0,0.090062,mobile/mobile,Dataframe 1
16,03-02-2024---20:31 *** 03-03-2024---13:23,87,12.781609,8.0,0.140097,desktop/desktop,Dataframe 2
34,03-02-2024---21:30 *** 03-03-2024---13:23,84,14.547619,8.0,0.130841,desktop/desktop,Dataframe 2
42,03-02-2024---22:41 *** 03-03-2024---13:08,82,14.963415,8.0,0.105534,mobile/mobile,Dataframe 2
41,03-02-2024---22:10 *** 03-03-2024---13:23,81,10.395062,7.0,0.128776,desktop/desktop,Dataframe 2
27,03-02-2024---20:53 *** 03-02-2024---22:41,79,17.594937,14.0,0.079477,mobile/mobile,Dataframe 1
7,03-02-2024---20:14 *** 03-03-2024---13:08,79,11.734177,7.0,0.119516,mobile/mobile,Dataframe 1
13,03-02-2024---20:31 *** 03-02-2024---22:10,61,20.016393,16.0,0.063344,desktop/desktop,Dataframe 2
31,03-02-2024---21:30 *** 03-02-2024---22:10,61,19.721311,16.0,0.066304,desktop/desktop,Dataframe 2
11,03-02-2024---20:31 *** 03-02-2024---21:30,52,24.942308,21.0,0.056399,desktop/desktop,Dataframe 2
2,03-02-2024---20:14 *** 03-02-2024---20:53,40,11.425000,7.5,0.061920,mobile/mobile,Dataframe 1
4,03-02-2024---20:14 *** 03-02-2024---21:42,40,10.050000,8.0,0.061920,mobile/mobile,Dataframe 1
36,03-02-2024---21:42 *** 03-02-2024---22:41,37,13.216216,11.0,0.038223,mobile/mobile,Dataframe 2
6,03-02-2024---20:14 *** 03-02-2024---22:41,36,9.583333,8.5,0.055728,mobile/mobile,Dataframe 1

In [71]:
# Visualizza righe prive di una ricerca
new_df = df_differenze.drop(df_differenze[df_differenze['coppia_ricerche'].str.contains("20:42")].index) 
new_df.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,num_differenze_prezzo,media,mediana,%_prezzi_diversi,tipo ricerche,prezzi_inferiori
26,03-02-2024---20:53 *** 03-02-2024---22:10,356,14.632022,13.0,0.398210,mobile/desktop,Dataframe 1
10,03-02-2024---20:31 *** 03-02-2024---20:53,353,14.968839,14.0,0.393534,desktop/mobile,Dataframe 2
14,03-02-2024---20:31 *** 03-02-2024---22:41,352,16.718750,14.0,0.392419,desktop/mobile,Dataframe 2
12,03-02-2024---20:31 *** 03-02-2024---21:42,352,16.315341,14.0,0.398190,desktop/mobile,Dataframe 2
35,03-02-2024---21:42 *** 03-02-2024---22:10,344,14.805233,13.0,0.390465,mobile/desktop,Dataframe 1
15,03-02-2024---20:31 *** 03-03-2024---13:08,338,16.582840,14.0,0.438961,desktop/mobile,Dataframe 2
32,03-02-2024---21:30 *** 03-02-2024---22:41,336,15.925595,14.0,0.387991,desktop/mobile,Dataframe 2
30,03-02-2024---21:30 *** 03-02-2024---21:42,330,15.627273,13.0,0.389151,desktop/mobile,Dataframe 2
40,03-02-2024---22:10 *** 03-03-2024---13:08,327,15.159021,14.0,0.424125,desktop/mobile,Dataframe 2
39,03-02-2024---22:10 *** 03-02-2024---22:41,326,15.236196,14.0,0.364653,desktop/mobile,Dataframe 2
33,03-02-2024---21:30 *** 03-03-2024---13:08,320,15.696875,14.0,0.435374,desktop/mobile,Dataframe 2
24,03-02-2024---20:53 *** 03-02-2024---21:30,319,15.172414,14.0,0.367935,mobile/desktop,Dataframe 1
8,03-02-2024---20:14 *** 03-03-2024---13:23,267,12.647940,11.0,0.340127,mobile/desktop,Dataframe 1
38,03-02-2024---21:42 *** 03-03-2024---13:23,237,13.303797,12.0,0.401695,mobile/desktop,Dataframe 1
0,03-02-2024---20:14 *** 03-02-2024---20:31,233,14.858369,13.0,0.354642,mobile/desktop,Dataframe 1
3,03-02-2024---20:14 *** 03-02-2024---21:30,233,14.253219,13.0,0.350376,mobile/desktop,Dataframe 1
5,03-02-2024---20:14 *** 03-02-2024---22:10,226,13.486726,13.0,0.345566,mobile/desktop,Dataframe 1
43,03-02-2024---22:41 *** 03-03-2024---13:23,224,13.866071,12.0,0.381601,mobile/desktop,Dataframe 1
29,03-02-2024---20:53 *** 03-03-2024---13:23,221,14.176471,12.0,0.374576,mobile/desktop,Dataframe 1
44,03-03-2024---13:08 *** 03-03-2024---13:23,186,13.010753,12.0,0.303426,mobile/desktop,Dataframe 1
28,03-02-2024---20:53 *** 03-03-2024---13:08,129,15.635659,11.0,0.166882,mobile/mobile,Dataframe 1
37,03-02-2024---21:42 *** 03-03-2024---13:08,97,13.103093,8.0,0.125323,mobile/mobile,Dataframe 2
25,03-02-2024---20:53 *** 03-02-2024---21:42,87,16.655172,14.0,0.090062,mobile/mobile,Dataframe 1
16,03-02-2024---20:31 *** 03-03-2024---13:23,87,12.781609,8.0,0.140097,desktop/desktop,Dataframe 2
34,03-02-2024---21:30 *** 03-03-2024---13:23,84,14.547619,8.0,0.130841,desktop/desktop,Dataframe 2
42,03-02-2024---22:41 *** 03-03-2024---13:08,82,14.963415,8.0,0.105534,mobile/mobile,Dataframe 2
41,03-02-2024---22:10 *** 03-03-2024---13:23,81,10.395062,7.0,0.128776,desktop/desktop,Dataframe 2
27,03-02-2024---20:53 *** 03-02-2024---22:41,79,17.594937,14.0,0.079477,mobile/mobile,Dataframe 1
7,03-02-2024---20:14 *** 03-03-2024---13:08,79,11.734177,7.0,0.119516,mobile/mobile,Dataframe 1
13,03-02-2024---20:31 *** 03-02-2024---22:10,61,20.016393,16.0,0.063344,desktop/desktop,Dataframe 2
31,03-02-2024---21:30 *** 03-02-2024---22:10,61,19.721311,16.0,0.066304,desktop/desktop,Dataframe 2
11,03-02-2024---20:31 *** 03-02-2024---21:30,52,24.942308,21.0,0.056399,desktop/desktop,Dataframe 2
2,03-02-2024---20:14 *** 03-02-2024---20:53,40,11.425000,7.5,0.061920,mobile/mobile,Dataframe 1
4,03-02-2024---20:14 *** 03-02-2024---21:42,40,10.050000,8.0,0.061920,mobile/mobile,Dataframe 1
36,03-02-2024---21:42 *** 03-02-2024---22:41,37,13.216216,11.0,0.038223,mobile/mobile,Dataframe 2
6,03-02-2024---20:14 *** 03-02-2024---22:41,36,9.583333,8.5,0.055728,mobile/mobile,Dataframe 1

In [72]:
mobile = 0
desktop = 0
for i in df_list:
    orario1 = i
    df1 = df[df["TIMESTAMP"]==orario1]
    stringa = df1['user_agent_type'].unique()[0]
    if "mob" in stringa:
        mobile +=1
    else: desktop+=1
    print(df1['user_agent_type'].unique())

print(mobile,desktop)

['mobile']
['desktop']
['desktop']
['mobile']
['desktop']
['mobile']
['desktop']
['mobile']
['mobile']
['desktop']
5 5