In [7]:
# Carica il file csv e coonverto colonna dei prezzi in int
import pandas as pd
import re
import itertools

df=pd.read_csv("milano_dati_booking.csv")
df['prezzo'] = df['prezzo'].apply(lambda x: int(re.search(r'\d+', x).group()))
df.columns

Index(['nome_hotel', 'prezzo', 'stanza', 'città', 'data', 'punteggio',
       'numero_recensioni', 'distanza_centro', 'genius', 'offerte',
       'colazione_inclusa', 'senza_pagamento_anticipato',
       'cancellazione_gratuita', 'os', 'username', 'user_agent_type',
       'TIMESTAMP'],
      dtype='object')

In [8]:
#Prendo tutte le combinazioni di coppie di ricerche sulla stessa città
df_list = df['TIMESTAMP'].unique()
coppie_df = list(itertools.combinations(df_list, 2))
len(coppie_df)

45

In [9]:
# Creo un Dataframe per vedere differenze di prezzo tra diverse ricerche
list_dict_df = []
for i in coppie_df:
    orario1 = i[0]
    orario2 = i[1]
    df1 = df[df["TIMESTAMP"]==orario1]
    df2 = df[df["TIMESTAMP"]==orario2]
    df1 = df1.drop_duplicates()
    df2 = df2.drop_duplicates()
    if df1['user_agent_type'].unique()[0]==df2['user_agent_type'].unique()[0]:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','stanza','data'], how='inner')
    else:
        merged_df = pd.merge(df1, df2, on=['nome_hotel','data'], how='inner')
    initial_len = len(merged_df)
    merged_df = merged_df[merged_df["prezzo_x"]!=merged_df["prezzo_y"]]
    # Elimino hotel con stesso nome 
    righe_droppate = len(merged_df)
    merged_df = merged_df.drop_duplicates(subset="nome_hotel",keep= False)
    righe_droppate -= len(merged_df)
    merged_df["differenza_prezzo"] = (merged_df["prezzo_x"]-merged_df["prezzo_y"]).abs()
    if merged_df['prezzo_x'].sum() < merged_df['prezzo_y'].sum():
        prezzi_inferiori = "Dataframe 1"
    else: prezzi_inferiori = "Dataframe 2"
    dict_df = {}
    dict_df ['coppia_ricerche'] = orario1+" *** "+orario2
    dict_df ['num_differenze_prezzo'] = len(merged_df)
    dict_df ['media'] = merged_df['differenza_prezzo'].mean()
    dict_df ['mediana'] = merged_df['differenza_prezzo'].median()
    dict_df['%_prezzi_diversi'] = len(merged_df)/initial_len
    dict_df['tipo_ricerche'] = df1['user_agent_type'].unique()[0] + "/"+ df2['user_agent_type'].unique()[0]
    dict_df['prezzi_inferiori'] = prezzi_inferiori
    dict_df['righe_duplicate'] = righe_droppate
    list_dict_df.append(dict_df)

df_differenze = pd.DataFrame(list_dict_df)   
df_differenze.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,num_differenze_prezzo,media,mediana,%_prezzi_diversi,tipo_ricerche,prezzi_inferiori,righe_duplicate
9,03-02-2024---20:31 *** 03-02-2024---20:42,712,8.571629,7.0,0.740125,desktop/desktop,Dataframe 2,0
20,03-02-2024---20:42 *** 03-02-2024---22:10,703,8.150782,7.0,0.736897,desktop/desktop,Dataframe 1,0
21,03-02-2024---20:42 *** 03-02-2024---22:41,697,8.711621,7.0,0.784910,desktop/mobile,Dataframe 1,0
19,03-02-2024---20:42 *** 03-02-2024---21:42,691,8.798842,7.0,0.786121,desktop/mobile,Dataframe 1,0
17,03-02-2024---20:42 *** 03-02-2024---20:53,689,9.001451,7.0,0.775901,desktop/mobile,Dataframe 2,0
18,03-02-2024---20:42 *** 03-02-2024---21:30,678,8.467552,7.0,0.739368,desktop/desktop,Dataframe 1,0
22,03-02-2024---20:42 *** 03-03-2024---13:08,593,9.558179,7.0,0.771131,desktop/mobile,Dataframe 2,0
1,03-02-2024---20:14 *** 03-02-2024---20:42,480,7.931250,7.0,0.727273,mobile/desktop,Dataframe 2,0
23,03-02-2024---20:42 *** 03-03-2024---13:23,450,7.717778,6.0,0.710900,desktop/desktop,Dataframe 1,0
26,03-02-2024---20:53 *** 03-02-2024---22:10,356,14.632022,13.0,0.398210,mobile/desktop,Dataframe 1,0
10,03-02-2024---20:31 *** 03-02-2024---20:53,353,14.968839,14.0,0.393534,desktop/mobile,Dataframe 2,0
14,03-02-2024---20:31 *** 03-02-2024---22:41,352,16.718750,14.0,0.392419,desktop/mobile,Dataframe 2,0
12,03-02-2024---20:31 *** 03-02-2024---21:42,352,16.315341,14.0,0.398190,desktop/mobile,Dataframe 2,0
35,03-02-2024---21:42 *** 03-02-2024---22:10,344,14.805233,13.0,0.390465,mobile/desktop,Dataframe 1,0
15,03-02-2024---20:31 *** 03-03-2024---13:08,338,16.582840,14.0,0.438961,desktop/mobile,Dataframe 2,0
32,03-02-2024---21:30 *** 03-02-2024---22:41,336,15.925595,14.0,0.387991,desktop/mobile,Dataframe 2,0
30,03-02-2024---21:30 *** 03-02-2024---21:42,328,15.408537,13.0,0.386792,desktop/mobile,Dataframe 2,2
40,03-02-2024---22:10 *** 03-03-2024---13:08,327,15.159021,14.0,0.424125,desktop/mobile,Dataframe 2,0
39,03-02-2024---22:10 *** 03-02-2024---22:41,326,15.236196,14.0,0.364653,desktop/mobile,Dataframe 2,0
24,03-02-2024---20:53 *** 03-02-2024---21:30,319,15.172414,14.0,0.367935,mobile/desktop,Dataframe 1,0
33,03-02-2024---21:30 *** 03-03-2024---13:08,318,15.698113,14.0,0.432653,desktop/mobile,Dataframe 2,2
8,03-02-2024---20:14 *** 03-03-2024---13:23,267,12.647940,11.0,0.340127,mobile/desktop,Dataframe 1,0
38,03-02-2024---21:42 *** 03-03-2024---13:23,237,13.303797,12.0,0.401695,mobile/desktop,Dataframe 1,0
0,03-02-2024---20:14 *** 03-02-2024---20:31,233,14.858369,13.0,0.354642,mobile/desktop,Dataframe 1,0
3,03-02-2024---20:14 *** 03-02-2024---21:30,233,14.253219,13.0,0.350376,mobile/desktop,Dataframe 1,0
5,03-02-2024---20:14 *** 03-02-2024---22:10,226,13.486726,13.0,0.345566,mobile/desktop,Dataframe 1,0
43,03-02-2024---22:41 *** 03-03-2024---13:23,224,13.866071,12.0,0.381601,mobile/desktop,Dataframe 1,0
29,03-02-2024---20:53 *** 03-03-2024---13:23,221,14.176471,12.0,0.374576,mobile/desktop,Dataframe 1,0
44,03-03-2024---13:08 *** 03-03-2024---13:23,186,13.010753,12.0,0.303426,mobile/desktop,Dataframe 1,0
28,03-02-2024---20:53 *** 03-03-2024---13:08,129,15.635659,11.0,0.166882,mobile/mobile,Dataframe 1,0
37,03-02-2024---21:42 *** 03-03-2024---13:08,97,13.103093,8.0,0.125323,mobile/mobile,Dataframe 2,0
25,03-02-2024---20:53 *** 03-02-2024---21:42,87,16.655172,14.0,0.090062,mobile/mobile,Dataframe 1,0
16,03-02-2024---20:31 *** 03-03-2024---13:23,87,12.781609,8.0,0.140097,desktop/desktop,Dataframe 2,0
42,03-02-2024---22:41 *** 03-03-2024---13:08,82,14.963415,8.0,0.105534,mobile/mobile,Dataframe 2,0
34,03-02-2024---21:30 *** 03-03-2024---13:23,82,14.524390,8.0,0.127726,desktop/desktop,Dataframe 2,2
41,03-02-2024---22:10 *** 03-03-2024---13:23,81,10.395062,7.0,0.128776,desktop/desktop,Dataframe 2,0
27,03-02-2024---20:53 *** 03-02-2024---22:41,79,17.594937,14.0,0.079477,mobile/mobile,Dataframe 1,0
7,03-02-2024---20:14 *** 03-03-2024---13:08,77,11.909091,8.0,0.116490,mobile/mobile,Dataframe 1,2
13,03-02-2024---20:31 *** 03-02-2024---22:10,61,20.016393,16.0,0.063344,desktop/desktop,Dataframe 2,0
31,03-02-2024---21:30 *** 03-02-2024---22:10,61,19.721311,16.0,0.066304,desktop/desktop,Dataframe 2,0
11,03-02-2024---20:31 *** 03-02-2024---21:30,52,24.942308,21.0,0.056399,desktop/desktop,Dataframe 2,0
2,03-02-2024---20:14 *** 03-02-2024---20:53,40,11.425000,7.5,0.061920,mobile/mobile,Dataframe 1,0
4,03-02-2024---20:14 *** 03-02-2024---21:42,40,10.050000,8.0,0.061920,mobile/mobile,Dataframe 1,0
36,03-02-2024---21:42 *** 03-02-2024---22:41,37,13.216216,11.0,0.038223,mobile/mobile,Dataframe 2,0
6,03-02-2024---20:14 *** 03-02-2024---22:41,36,9.583333,8.5,0.055728,mobile/mobile,Dataframe 1,0

In [4]:
# Elimino una o più ricerche dal dataframe
new_df = df_differenze.drop(df_differenze[df_differenze['coppia_ricerche'].str.contains("15:22")].index) 
new_df.sort_values(by=['num_differenze_prezzo','media'],ascending=False)

,coppia_ricerche,num_differenze_prezzo,media,mediana,%_prezzi_diversi,tipo_ricerche,prezzi_inferiori,righe_duplicate
16,03-03-2024---14:02 *** 03-03-2024---16:44,362,15.560773,13.0,0.430952,mobile/desktop,Dataframe 1,2
44,03-03-2024---16:00 *** 03-03-2024---16:44,354,13.937853,13.0,0.416961,mobile/desktop,Dataframe 1,2
43,03-03-2024---15:37 *** 03-03-2024---16:44,353,13.985836,13.0,0.417258,mobile/desktop,Dataframe 1,2
12,03-03-2024---14:02 *** 03-03-2024---15:12,350,14.965714,13.0,0.429975,mobile/desktop,Dataframe 1,2
36,03-03-2024---15:12 *** 03-03-2024---15:37,345,14.008696,13.0,0.424877,desktop/mobile,Dataframe 2,2
37,03-03-2024---15:12 *** 03-03-2024---16:00,345,13.982609,13.0,0.424354,desktop/mobile,Dataframe 2,2
28,03-03-2024---14:31 *** 03-03-2024---16:00,328,14.097561,13.0,0.439678,desktop/mobile,Dataframe 2,2
22,03-03-2024---14:16 *** 03-03-2024---16:00,328,13.219512,12.0,0.386792,desktop/mobile,Dataframe 2,2
27,03-03-2024---14:31 *** 03-03-2024---15:37,327,14.131498,13.0,0.438338,desktop/mobile,Dataframe 2,2
32,03-03-2024---15:01 *** 03-03-2024---15:37,326,14.027607,13.0,0.421734,desktop/mobile,Dataframe 2,2
33,03-03-2024---15:01 *** 03-03-2024---16:00,326,14.027607,13.0,0.421734,desktop/mobile,Dataframe 2,2
21,03-03-2024---14:16 *** 03-03-2024---15:37,326,13.193252,12.0,0.384888,desktop/mobile,Dataframe 2,2
9,03-03-2024---14:02 *** 03-03-2024---14:16,321,13.866044,12.0,0.377647,mobile/desktop,Dataframe 1,2
11,03-03-2024---14:02 *** 03-03-2024---15:01,320,15.228125,13.0,0.413437,mobile/desktop,Dataframe 1,2
10,03-03-2024---14:02 *** 03-03-2024---14:31,319,15.294671,13.0,0.426471,mobile/desktop,Dataframe 1,2
8,03-03-2024---13:49 *** 03-03-2024---16:44,219,11.849315,11.0,0.385563,mobile/desktop,Dataframe 1,0
4,03-03-2024---13:49 *** 03-03-2024---15:12,214,11.509346,11.0,0.389091,mobile/desktop,Dataframe 1,0
2,03-03-2024---13:49 *** 03-03-2024---14:31,213,12.352113,11.0,0.411197,mobile/desktop,Dataframe 1,0
1,03-03-2024---13:49 *** 03-03-2024---14:16,213,11.694836,11.0,0.370435,mobile/desktop,Dataframe 1,0
3,03-03-2024---13:49 *** 03-03-2024---15:01,198,11.681818,11.0,0.373585,mobile/desktop,Dataframe 1,0
23,03-03-2024---14:16 *** 03-03-2024---16:44,145,18.889655,18.0,0.151992,desktop/desktop,Dataframe 2,0
19,03-03-2024---14:16 *** 03-03-2024---15:12,143,18.426573,17.0,0.156455,desktop/desktop,Dataframe 2,0
18,03-03-2024---14:16 *** 03-03-2024---15:01,130,18.938462,18.0,0.148233,desktop/desktop,Dataframe 2,0
17,03-03-2024---14:16 *** 03-03-2024---14:31,123,19.308943,18.0,0.145218,desktop/desktop,Dataframe 2,0
14,03-03-2024---14:02 *** 03-03-2024---15:37,72,17.819444,12.5,0.073469,mobile/mobile,Dataframe 2,0
15,03-03-2024---14:02 *** 03-03-2024---16:00,72,17.555556,12.0,0.073469,mobile/mobile,Dataframe 2,0
25,03-03-2024---14:31 *** 03-03-2024---15:12,46,16.673913,14.0,0.056720,desktop/desktop,Dataframe 1,0
38,03-03-2024---15:12 *** 03-03-2024---16:44,41,13.317073,12.0,0.044956,desktop/desktop,Dataframe 2,0
30,03-03-2024---15:01 *** 03-03-2024---15:12,35,14.085714,13.0,0.041966,desktop/desktop,Dataframe 1,0
0,03-03-2024---13:49 *** 03-03-2024---14:02,32,15.500000,11.0,0.052288,mobile/mobile,Dataframe 1,0
29,03-03-2024---14:31 *** 03-03-2024---16:44,26,16.807692,15.0,0.031363,desktop/desktop,Dataframe 2,0
24,03-03-2024---14:31 *** 03-03-2024---15:01,18,23.111111,20.0,0.023468,desktop/desktop,Dataframe 2,0
7,03-03-2024---13:49 *** 03-03-2024---16:00,16,16.625000,11.0,0.026667,mobile/mobile,Dataframe 2,0
6,03-03-2024---13:49 *** 03-03-2024---15:37,14,16.214286,11.0,0.023256,mobile/mobile,Dataframe 2,0
34,03-03-2024---15:01 *** 03-03-2024---16:44,10,13.400000,7.0,0.011468,desktop/desktop,Dataframe 2,0
42,03-03-2024---15:37 *** 03-03-2024---16:00,2,12.500000,12.5,0.001988,mobile/mobile,Dataframe 2,0

In [5]:
#Visualizza dataframe mobile/mobile o desktop/desktop
df_tipo_uguale = df_differenze[(df_differenze['tipo_ricerche']=="mobile/mobile") | (df_differenze['tipo_ricerche']=="desktop/desktop")]
df_tipo_uguale.sort_values(by="num_differenze_prezzo",ascending= False)

,coppia_ricerche,num_differenze_prezzo,media,mediana,%_prezzi_diversi,tipo_ricerche,prezzi_inferiori,righe_duplicate
13,03-03-2024---14:02 *** 03-03-2024---15:22,523,12.405354,10.0,0.669654,mobile/mobile,Dataframe 2,0
39,03-03-2024---15:22 *** 03-03-2024---15:37,508,10.978346,10.0,0.648787,mobile/mobile,Dataframe 1,0
40,03-03-2024---15:22 *** 03-03-2024---16:00,504,10.980159,10.0,0.647815,mobile/mobile,Dataframe 1,0
5,03-03-2024---13:49 *** 03-03-2024---15:22,442,9.061086,8.0,0.627841,mobile/mobile,Dataframe 2,0
23,03-03-2024---14:16 *** 03-03-2024---16:44,145,18.889655,18.0,0.151992,desktop/desktop,Dataframe 2,0
19,03-03-2024---14:16 *** 03-03-2024---15:12,143,18.426573,17.0,0.156455,desktop/desktop,Dataframe 2,0
18,03-03-2024---14:16 *** 03-03-2024---15:01,130,18.938462,18.0,0.148233,desktop/desktop,Dataframe 2,0
17,03-03-2024---14:16 *** 03-03-2024---14:31,123,19.308943,18.0,0.145218,desktop/desktop,Dataframe 2,0
14,03-03-2024---14:02 *** 03-03-2024---15:37,72,17.819444,12.5,0.073469,mobile/mobile,Dataframe 2,0
15,03-03-2024---14:02 *** 03-03-2024---16:00,72,17.555556,12.0,0.073469,mobile/mobile,Dataframe 2,0
25,03-03-2024---14:31 *** 03-03-2024---15:12,46,16.673913,14.0,0.056720,desktop/desktop,Dataframe 1,0
38,03-03-2024---15:12 *** 03-03-2024---16:44,41,13.317073,12.0,0.044956,desktop/desktop,Dataframe 2,0
30,03-03-2024---15:01 *** 03-03-2024---15:12,35,14.085714,13.0,0.041966,desktop/desktop,Dataframe 1,0
0,03-03-2024---13:49 *** 03-03-2024---14:02,32,15.500000,11.0,0.052288,mobile/mobile,Dataframe 1,0
29,03-03-2024---14:31 *** 03-03-2024---16:44,26,16.807692,15.0,0.031363,desktop/desktop,Dataframe 2,0
24,03-03-2024---14:31 *** 03-03-2024---15:01,18,23.111111,20.0,0.023468,desktop/desktop,Dataframe 2,0
7,03-03-2024---13:49 *** 03-03-2024---16:00,16,16.625000,11.0,0.026667,mobile/mobile,Dataframe 2,0
6,03-03-2024---13:49 *** 03-03-2024---15:37,14,16.214286,11.0,0.023256,mobile/mobile,Dataframe 2,0
34,03-03-2024---15:01 *** 03-03-2024---16:44,10,13.400000,7.0,0.011468,desktop/desktop,Dataframe 2,0
42,03-03-2024---15:37 *** 03-03-2024---16:00,2,12.500000,12.5,0.001988,mobile/mobile,Dataframe 2,0

In [6]:
# Visualizza il numero di ricerche mobile e desktop
mobile = 0
desktop = 0
for i in df_list:
    df1 = df[df["TIMESTAMP"]==i]
    stringa = df1['user_agent_type'].unique()[0]
    if "mob" in stringa:
        mobile +=1
    else: desktop+=1
    print(df1['user_agent_type'].unique())

print("Mobile:", mobile,"Desktop:",desktop)

['mobile']
['mobile']
['desktop']
['desktop']
['desktop']
['desktop']
['mobile']
['mobile']
['mobile']
['desktop']
Mobile: 5 Desktop: 5